# Модуль 5 - SQL

## Lesson 001

### GENERAL DATA

In [ ]:
# Узнаем, что такое базы данных и какими они бывают, откуда берутся данные и зачем их хранить в виде базы данных.
# Познакомимся с СУБД ClickHouse и научимся подключаться к ней.
# Научимся  делать базовые запросы SQL: выбор колонок, фильтрацию и сортировку данных.

In [ ]:
# Данные нужны для принятия решений
# Аналитики необходимы для того, чтобы принимать правильные решения для бизнеса

In [ ]:
# СППР - Система поддержки принятия решений - DSS - decision support system. Задачи:
# Ввод данных
# Хранение данных
# Анализ данных

In [ ]:
# Два разных подхода к СУБД
# OLTP - обработка транзакций
# OLAP - онлайн аналитическая обработка

In [ ]:
# NoSQL - не только SQL
# CAP принцип
# С - consistency - согласованность
# A - availibility - доступность 
# P - partition tolerance - устойчивость к разделению
# Для одной системы можно выбрать только 2 из 3х принципов!

In [ ]:
# NewSQL

In [ ]:
# Clickhouse
# OLAP база даных для аналитического использования
# Позволяет быстро читать большие данные
# Транзакции отсутствуют
# Данные добавляются, но не изменяются

In [ ]:
# SQL - Strucrured Query Language - Структурированный язык запросов
# Язык программирования, используемый в большинстве реляционных баз данных для запроса, обработки и определения данных, а также контроля доступа.

# CRUD - Create, Read, Update, Delete

In [ ]:
# Комментарий строки
--LIMIT 100
LIMIT 100    -- Указал ограничение по строкам

In [ ]:
#Что такое СУБД?

- СУБД (или RDBMS) означает систему управления базами данных (Relational Database Management System)
- Данные в СУБД хранятся в виде таблиц (объекты СУБД)
- Управления объектами происходит с помощью языка SQL
- Существует множество разных СУБД. Они могут настолько различаться, что не будут понимать SQL друг друга (PostgreSQL, MySQL, ClickHouse и.т.д.)

In [ ]:
#Что такое ClickHouse?
- столбцовая система управления базами данных (СУБД) для онлайн обработки аналитических запросов (OLAP)

In [ ]:
#Что такое Tabix?**

- Это веб-интерфейс для ClickHouse
- Работает с ClickHouse напрямую из браузера, без необходимости установки дополнительного ПО

### SELECT

In [ ]:
# SELECT - какие поля и в какой последовательности мы хотим отобразить колонки в результирующей таблице
# Разнообразные манипуляции с исходными данными / порядком колонок

In [ ]:
# Первый пример
SELECT *  # отобразить все поля
FROM default.installs
LIMIT 100

In [ ]:
# Явно указать поля для вывода
SELECT
    InstallationDate,
    InstallCost
# Порядок столбцов можно менять!

In [ ]:
# Сразу задать свою колонку со значением - константу
SELECT
    777 as my_column

In [ ]:
# Сразу переименовать колонки
SELECT
    InstallationDate as Data,
    InstallCost

In [ ]:
# Сразу подправить данные в таблице
SELECT
    InstallationDate,
    InstallCost * 0.82 as cost_with_tax

In [ ]:
# DISTINCT
# Посмотреть только уникальные значения в заданной колонке
SELECT
    DISTINCT InstallationDate
FROM default.installs
LIMIT 100
# Вернёт таблицу с уникальными данными из колонки InstallationDate

In [ ]:
# Несколько колонок
# Получим список уникальных комбинаций по значениям из заданных колонок
SELECT
    DISTINCT
        Source,
        Platform
FROM default.installs

### FROM

In [ ]:
# FROM - указывваем место, откуда загружаем данные
#

In [ ]:
# Первый пример
SELECT *
FROM default.installs  # База данных.имя таблицы
LIMIT 100
# Если не указать имя базы - база принимается по умолчанию из меню ниже окна ввода

### LIMIT

In [ ]:
# LIMIT - указывает ограничение результирующей таблицы
# Без указания лимита будет пытаться вывести все строки

### WHERE

In [ ]:
# WHERE
# Когда нам необходимо отфильтровать данные, которые мы вытаскиваем
# Указываем после FROM
# Условия указываются

In [ ]:
# Пример
SELECT
    InstallationDate,
    InstallCost
FROM default.installs
WHERE
    InstallCost > 0  # Те строки, в которых цена установки больше 0
LIMIT 100

In [ ]:
# Несколько условий
SELECT *
FROM default.retail
WHERE
    Country = 'United Kingdom'
    OR Country = 'Australia'
    OR Country = 'Netherlands'
LIMIT 1000

In [ ]:
# Несколько условий перечисляются через and / or
SELECT
    InstallationDate
FROM default.installs
WHERE
        InstallCost > 0        # Те строки, в которых цена установки больше 0
    AND Platform = 'android'   # строки, где платформа андроид

In [ ]:
# Пример сложного условия
SELECT
    InstallationDate
FROM default.installs
WHERE
    (
        InstallCost > 0
    AND Platform = 'android'
    )
    OR
    (
        InstallCost = 0
    AND Platform = 'iOS'
    )

### ORDER BY

In [ ]:
# ORDER BY
# Сортировка по полю и направлению - возрастание / убывание
# ASC / DESC  - тип сортировки

In [ ]:
# Пример команды на сортировку
SELECT
    InstallationDate
FROM default.installs
ORDER BY
    Platform DESC

In [ ]:
# Сортировка по двум колонкам
SELECT
    InstallationDate
FROM default.installs
ORDER BY
    Date ASC,
    Platform DESC

### TASKS

In [ ]:
# Чтобы взглянуть на колонки этой таблицы и получить первое представление о ее данных, выведите первые 10 строк таблицы checks
select *
from checks
limit 10

In [ ]:
# Давайте посмотрим на топ-10 платежей по сумме в рублях. Выведите первые 10 строк таблицы checks, но теперь отсортировав значения Rub по убыванию (DESC).
select *
from checks
order by
    rub DESC
limit 10

In [ ]:
# Для работы бывает удобно переименовать колонки таблицы. 
# Выведите первые 15 строк таблицы checks, переименовав поле Rub в Revenue и используя сортировку по возрастанию столбца UserID. 
# Разместите столбцы в запросе в следующем порядке revenue, buydate, userid.
select
    rub as Revenue,
    buydate,
    userid
from checks
order by
    UserID ASC
limit 15

In [ ]:
# Проверьте, данные за какой период имеются в таблице. 
# Для этого используйте MIN и MAX по колонке BuyDate. 
# Колонки с минимальным и максимальным значением назовите MinDate и MaxDate соответственно.
select
    MIN(BuyDate) as MinDate,
    MAX(BuyDate) as MaxDate
from checks
# вернёт дф с индексом 0 и 2-мя колонками MinDate / MaxDate с указанием минимального и максимального значения из колонки BuyDate

In [ ]:
# Выведите UserID 10 уникальных покупателей, используя оператор DISTINCT. 
# Таблицу отсортируйте по UserID в порядке возрастания.
select
    DISTINCT
        UserID
from checks
order by 
    UserID ASC
limit 10

In [ ]:
# Выведите информацию о продажах, которые были совершены 8 марта 2019 года, используя блок WHERE применительно к полю BuyDate
# Значения отсортируйте по убыванию Rub
# Количество строк для извлечения – 10.
# Дата хранится в таблице в текстовом виде и имеет формат год-месяц-день (‘YYYY-MM-DD’).
# Например: 1 декабря 2018 года записывается как '2018-12-01'
select *
from checks
where
    BuyDate = '2019-03-08'
order by
    Rub DESC
limit 10

In [ ]:
# Давайте применим WHERE к полям BuyDate и Rub, и посмотрим на уникальные id покупателей из checks, которые совершили покупку 1 сентября 2019 года на сумму более 2 000 рублей.
# Значения отсортируйте по убыванию UserID.
select
    DISTINCT
        UserID
from checks
where
        BuyDate = '2019-09-01'
    and Rub > 2000
order by
    UserID DESC

## Lesson 002

### General

In [ ]:
# 4 основныъ таблицы в Табиксе - база default
# installs - сводная информация по установке приложений
# events - события
# checks - покупки
# devices - сводная таблица номер устройства / номер аккаунта - данные о склейке устройств с логинами

In [ ]:
# Понять на какой платформе больше установок
# Привязываемся к уникальным значениям
select
    Platform,
    count(DISTINCT DeviceID) as classic_uniqs,      # - классический
    uniq(DeviceID) as click_house_uniqs,            # - примерный
    uniqExact(DeviceID) as click_house_exact_uniqs  # - точный расчёт
from installs
group by
    Platform

In [ ]:
# Разбивка по двум источникам
# Добавили источник установки - Source
select
    Source,
    Platform,
    count(DISTINCT DeviceID) as classic_uniqs,
    uniq(DeviceID) as click_house_uniqs,
    uniqExact(DeviceID) as click_house_exact_uniqs
from installs
group by
    Source,
    Platform
ORDER BY
    Source DESC,
    Platform DESC

In [ ]:
# Посмотрим функцию count
# Считает количество строк
select
    Source,
    count() as count_rows
from installs
group by
    Source
ORDER BY
    Source DESC

In [ ]:
# Функци min max
# Функция summ
# Функция AVG
select
    Source,
    MIN(InstallCost) as min_InstallCost,
    MAX(InstallCost) as max_InstallCost,
    SUM(InstallCost) as total_cost,
    AVG(InstallCost) as avg_install_cost
from installs
GROUP BY
    Source
ORDER BY 
    Source DESC

In [ ]:
# Функция any - любое значение из обозначенной колонки
select
    Source,
    MIN(InstallCost) as min_InstallCost,
    any(DeviceID) as DeviceID_any
from installs
GROUP BY
    Source
ORDER BY
    Source DESC

In [ ]:
# Функция median
select
    Source,
    median(InstallCost) as InstallCost_median,
    quantile(0.50)(InstallCost) as InstallCost_median2,  # тоже самое, что и медиана
    AVG(InstallCost) as InstallCost_AVG
from installs
GROUP BY
    Source
ORDER BY
    Source DESC

In [ ]:
# Получить массивы по каждому варианту из таблицы
# Функция groupArray
select
    UserID,
    any(BuyDate) as sample_buy_dates,
    groupArray(BuyDate) as all_buy_dates
from checks
GROUP BY
    UserID
limit 100

In [ ]:
# Функция Having
# Фильтрация результирующих таблиц
# Аналог Where для результата
select
    Source,
    AVG(InstallCost) as avg_install_cost,
    SUM(InstallCost) as total_cost
from installs
group by
    Source
having
    total_cost > 0
ORDER BY
    total_cost DESC

In [ ]:
# uniq - приближённый результат - сохраняет ресурсы
# uniqExact - точный результат

### Tasks

In [ ]:
работает
SELECT manager, SUM(revenue) as revenue FROM tickets GROUP BY manager;
SELECT COUNT(DISTINCT manager) FROM tickets;
не работает
SELECT manager, SUM(revenue) as SumRev FROM tickets GROUP BY revenue;
SELECT manager, id, MAX(revenue) as MaxRev FROM tickets GROUP BY manager HAVING MAX(revenue)>5000;

In [ ]:
# Посчитайте, сколько покупок приходится на каждого клиента, указав имя столбца как NumChecks. 
# Результирующую таблицу с UserID, NumChecks отсортируйте по убыванию (DESC) нового столбца. 
# Ограничение вывода – 10
SELECT
    UserID,
    COUNT(BuyDate) as NumChecks
FROM checks
GROUP BY
    UserID
ORDER BY
    NumChecks DESC
LIMIT 10

In [ ]:
# Давайте немного усложним задачу, и посчитаем ещё и сумму сделанных покупок в рублях (Rub).
# Выведите в результирующую таблицу UserID клиентов, количество сделанных покупок (NumChecks) и сумму потраченных денег (Revenue). 
# Результат отсортируйте по убыванию Revenue, оставив 10 записей.
SELECT
    UserID,
    COUNT(BuyDate) as NumChecks,
    SUM(Rub) as Revenue
FROM checks
GROUP BY
    UserID
ORDER BY
    Revenue DESC
LIMIT 10

In [ ]:
# Теперь давайте попробуем с помощью группировки и агрегатных функций посмотреть динамику трат клиентов. 
# Для этого нужно посчитать по дням минимальный, средний, и максимальный чек. Иными словами, необходимо сгруппироваться по датам, и использовать агрегатные функции MIN, AVG, MAX.
# Выведите минимальный (MinCheck), максимальный (MaxCheck) и средний (AvgCheck) чек по дням. 
# В результирующей таблице используйте сортировку по убыванию (DESC) столбца BuyDate. Как и на предыдущем шаге, ограничение на вывод равно 10.
SELECT
    BuyDate,
    MIN(Rub) as MinCheck,
    MAX(Rub) as MaxCheck,
    AVG(Rub) as AvgCheck
FROM checks
GROUP BY
    BuyDate
ORDER BY
    BuyDate DESC
LIMIT 10

In [ ]:
# Представим, что для проведения новой акции нам потребовалось выгрузить сегмент пользователей, которые приносят наибольшую выручку.
# Найдите покупателей, сумма покупок которых превышает 10 000 рублей (Rub).
# Для этого сгруппируйте пользователей по UserID, затем примените нужную агрегатную функцию и назовите новую колонку Revenue. 
# Отфильтруйте нужные значения, результат отсортируйте по убыванию UserID и выведите 10 строк.
# Note: В данном задании под капотом используется другая проверяющая система, поэтому запрос чувствителен к регистру.
SELECT
    UserID,
    SUM(Rub) as Revenue
FROM checks
GROUP BY
    UserID
HAVING
    Revenue > 10000
ORDER BY
    UserID DESC
LIMIT 10

In [ ]:
# Посчитайте выручку (Revenue) по странам и отсортируйте таблицу в порядке убывания выручки. 
# В качестве ответа скопируйте название страны с самой высокой выручкой.  
# Обратите внимание, что в изначальной таблице указана цена одной единицы товара (UnitPrice) и количество купленного товара (Quantity), а не выручка, и для получения 
# Revenue нужно будет использовать агрегирующую функцию Sum и оператор умножения *
SELECT
    Country,
    SUM(UnitPrice * Quantity) as Revenue
FROM retail
GROUP BY
    Country
ORDER BY
    Revenue DESC
LIMIT 10

In [ ]:
# Посчитайте среднее число купленных товаров по стране и среднюю цену товара, сгруппировав данные по странам и используя агрегирующую функцию Avg, и отсортируйте по убыванию средней цены товара (DESC).
# Обратите внимание, что в данных встречаются строки с Description 'Manual', которые включают данные об удаленных из чека позициях. 
# Для получения правильного ответа такие строки необходимо отфильтровать с использованием операторов WHERE и неравенства !=.
SELECT
    Country,
    AVG(Quantity),
    AVG(UnitPrice)
FROM retail
WHERE
    Description != 'Manual'
GROUP BY
    Country
ORDER BY
    avg(UnitPrice) DESC

In [ ]:
# Теперь посмотрим на динамику общей суммы выручки по месяцам.
# Посчитайте выручку (Revenue) по месяцам (обратите внимание, что в таблице указана цена одной единицы товара и количество купленного товара), округлив InvoiceDate к началу месяца с помощью toStartOfMonth().
# В качестве ответа укажите сумму выручки (Revenue) из первой строки результирующей таблицы, используя сортировку по убыванию (DESC) по столбцу Revenue. 
# Не забывайте отфильтровать строки по условию Description != 'Manual'
SELECT
    toStartOfMonth(InvoiceDate) as month_,
    SUM(UnitPrice * Quantity) as Revenue
FROM retail
WHERE
    Description != 'Manual'
GROUP BY
    toStartOfMonth(InvoiceDate)
ORDER BY
    Revenue DESC

In [ ]:
# Посчитайте среднюю цену товара клиента (UnitPrice) с группировкой по id покупателя, используя агрегирующую функцию Avg, затем выведите строки с покупками тех покупателей, 
# у которых самая высокая средняя цена купленного товара в марте. 
# Не забывайте отфильтровать строки по условию Description != 'Manual'. 
# В качестве ответа впишите CustomerID покупателя с самой высокой средней ценой купленного товара.
SELECT
    CustomerID,
    AVG(UnitPrice),
    toStartOfMonth(InvoiceDate) as month_
FROM retail
WHERE
    Description != 'Manual'
GROUP BY
    CustomerID,
    toStartOfMonth(InvoiceDate)
HAVING
    toStartOfMonth(InvoiceDate) = '2011-03-01'
ORDER BY
    AVG(UnitPrice) DESC
LIMIT 10

In [ ]:
# Давайте попробуем ответить на следующий вопрос: "Как изменилось среднее, минимальное и максимальное количество купленного товара в стране с наибольшей выручкой в течение последних месяцев?"
# Для этого нужно сгруппировать данные по странам и месяцам, посчитать среднее (Avg), минимальное (Min) и максимальное (Max) количество купленных товаров (Quantity), и отсортировать данные по месяцу, 
# применить фильтр по стране (нам нужны данные из страны с наибольшей выручкой из задания 8 (step 8)). 
# Если обратить внимание на полученное значение минимального количества товаров, то станет понятно, что там есть отрицательные значения, которые следует отфильтровать 
# (также не забывайте отфильтровывать значения с Description != 'Manual').
SELECT
    toStartOfMonth(InvoiceDate) as month_,
    AVG(Quantity),
    MIN(Quantity),
    MAX(Quantity)
FROM retail
WHERE
        Country = 'United Kingdom'
    AND Description != 'Manual'
    AND Quantity > 0
GROUP BY
    toStartOfMonth(InvoiceDate) as month_
ORDER BY
    avg(Quantity) DESC
LIMIT 100

## Lesson 003

### Lection

In [ ]:
# Первая таблица, которую указываем - левая, вторая - правая

In [ ]:
# Декартово произведение -  одна из отправных операций над отношениями в реляционной модели.
# Декартово произведение двух отношений, большое отношение из всевозможных сочетаний строк в A и B
# Встречается, если ключ в таблице встречается несколько раз при соединении таблиц

In [ ]:
# По умолчанию используется тип inner

In [ ]:
# К данным из установок приклеить данные о активности пользователей
# Inner
SELECT
    l.InstallationDate as InstallationDate,
    l.InstallCost as InstallCost,
    l.Platform as Platform,
    l.DeviceID as DeviceID,
    l.Source as Source,
    r.UserID as UserID
FROM installs AS l
JOIN devices AS r
    ON l.DeviceID = r.DeviceID
LIMIT 100
# Длина - 5 730 940

In [ ]:
# Проверка длины списка
SELECT count(*) FROM installs - 11 232 852
SELECT count(*) FROM devices  - 9 406 636
--SELECT count(*) FROM checks
--SELECT count(*) FROM events

In [ ]:
# Найти длину таблицы, которую мы запросили
SELECT count(*)
FROM
(
SELECT
    l.InstallationDate as InstallationDate,
    l.InstallCost as InstallCost,
    l.Platform as Platform,
    l.DeviceID as DeviceID,
    l.Source as Source,
    r.UserID as UserID
FROM installs AS l
JOIN devices AS r
    ON l.DeviceID = r.DeviceID
)

In [ ]:
# Left
SELECT
    l.InstallationDate as InstallationDate,
    l.InstallCost as InstallCost,
    l.Platform as Platform,
    l.DeviceID as DeviceID,
    l.Source as Source,
    r.UserID as UserID
FROM installs AS l
LEFT JOIN devices AS r
    ON l.DeviceID = r.DeviceID
LIMIT 100
# Там, где нет значений - указал "0"

In [ ]:
# Right
SELECT
    l.InstallationDate as InstallationDate,
    l.InstallCost as InstallCost,
    l.Platform as Platform,
    l.DeviceID as DeviceID,
    l.Source as Source,
    r.UserID as UserID
FROM installs AS l
RIGHT JOIN devices AS r
    ON l.DeviceID = r.DeviceID
LIMIT 100

In [ ]:
# По нескольким условиям
# Предварительно группировали 2 таблицы и после этого уже по двум колонкам склеили
SELECT
    l.InstallationDate as InstallationDate,
    r.Source as Source,
    l.installs_android as installs_android,
    r.installs_iOS as installs_iOS
FROM
    (
    SELECT
        InstallationDate,
        Source,
        uniqExact(DeviceID) AS installs_android
    FROM
        installs
    WHERE
        Platform = 'android'
    GROUP BY
        InstallationDate,
        Source
    ) AS l
JOIN
    (
    SELECT
        InstallationDate,
        Source,
        uniqExact(DeviceID) AS installs_iOS
    FROM
        installs
    WHERE
        Platform = 'iOS'
    GROUP BY
        InstallationDate,
        Source
    ) AS r
        ON
            l.InstallationDate = r.InstallationDate
        AND l.Source = r.Source
LIMIT 100

In [ ]:
# USING and ON
# В случае, когда колонки имеют одинаковое название.
ON
  l.InstallationDate = r.InstallationDate
# Тоже самое:
USING(InstallationDate)

# Во множественном джоине нельзя его использовать!

In [ ]:
# Объединить 3 таблицы
# Таблицу 3 пришлось предварительно группировать / аггрегировать
SELECT
    a.DeviceID AS DeviceID,
    a.InstallCost AS InstallCost,
    b.UserID AS UserID,
    c.sum_rub AS sum_rub
FROM installs AS a
JOIN devices AS b
    ON a.DeviceID = b.DeviceID
JOIN
    (
    SELECT
        UserID,
        SUM(Rub) AS sum_rub
    FROM checks
    GROUP BY
        UserID
    ) AS c
    ON b.UserID = c.UserID
LIMIT 10

In [ ]:
# Приклеить третью таблицу к уже полученной таблице
# Этап 1 - собрать таблицу, к которой будем клеить
SELECT
    l.DeviceID AS DeviceID,
    l.InstallCost AS InstallCost,
    r.UserID AS UserID
FROM installs AS l
JOIN devices AS r
    USING(DeviceID)
LIMIT 10

In [ ]:
# Этап 2 - откорректировать запрос - создать подзапрос
SELECT
    l.DeviceID AS DeviceID,
    l.InstallCost AS InstallCost,
    l.UserID AS UserID,
    r.sum_rub AS sum_rub
# Вот эта была. К ней клеим
FROM
    (
    SELECT
        l.DeviceID AS DeviceID,
        l.InstallCost AS InstallCost,
        r.UserID AS UserID
    FROM installs AS l
    JOIN devices AS r
        USING(DeviceID)
    ) AS l
JOIN
# Вот эту клеим
    (
    SELECT
        UserID,
        SUM(Rub) AS sum_rub
    FROM checks
    GROUP BY
        UserID
    ) AS r
        USING(UserID)
LIMIT 10

In [ ]:
# Склейка из нескольких таблиц
# Сначала собираем все уникальные значения из столбца, по которому будем склеивать
# После этого к какждому уникальному значению подберём его соответствующую пару из всех таблиц

SELECT DISTINCT DeviceID # Поверх полученного списка ещё раз проверили уникальность значений
FROM
    (
    SELECT DISTINCT DeviceID FROM events # Из 3х таблиц вытащили уникальные значения по столбцу DeviceID
    UNION ALL                            # Через UNION объединили их в один список
    SELECT DISTINCT DeviceID FROM devices
    UNION ALL
    SELECT DISTINCT DeviceID FROM installs
    )
LIMIT 10
# Каркас получили

In [ ]:
# Прилепить к каркасу что-нибудь, что необходимо
# Приклеили цену установки к каркасу
SELECT
    l.DeviceID AS DeviceID,
    r.InstallCost AS InstallCost
FROM
    (
    SELECT DISTINCT DeviceID
    FROM
        (
        SELECT DISTINCT DeviceID FROM events
        UNION ALL
        SELECT DISTINCT DeviceID FROM devices
        UNION ALL
        SELECT DISTINCT DeviceID FROM installs
        )
    ) AS l
LEFT JOIN installs AS r
    USING(DeviceID)
LIMIT 100

In [ ]:
# На каркас накинудт 2 таблицы - InstallCost из одной и UserID из второй
SELECT
    a.DeviceID AS DeviceID,
    b.InstallCost AS InstallCost,
    c.UserID AS UserID
FROM
    (
    SELECT DISTINCT DeviceID
    FROM
        (
        SELECT DISTINCT DeviceID FROM events
        UNION ALL
        SELECT DISTINCT DeviceID FROM devices
        UNION ALL
        SELECT DISTINCT DeviceID FROM installs
        )
    ) AS a
LEFT JOIN installs AS b
    ON
        a.DeviceID = b.DeviceID
LEFT JOIN devices AS c
    ON
        a.DeviceID = c.DeviceID
LIMIT 10

In [ ]:
# CROSS join
# Каждая строка из одной таблицы умножается на каждую строку из второй таблицы
SELECT
    l.Source AS Source,
    r.Platform AS Platform
FROM
    (
    SELECT DISTINCT Source
    FROM installs
    ) AS l
CROSS JOIN
    (
    SELECT DISTINCT Platform
    FROM installs
    ) AS r
LIMIT 100

In [ ]:
# Проверить количество строк и количество уникальных значений из этой же таблицы
SELECT
    count(*) AS rows,
    uniqExact(UserID) AS users
FROM devices

In [ ]:
# Управление Декартовым произведением
ALL JOIN  # Включено
ANY JOIN  # Выключено

In [ ]:
SELECT
    InstallationDate,
    Source,
    uniqExact(DeviceID) AS installs_android
FROM installs
WHERE Platform = 'android'
GROUP BY
    InstallationDate,
    Source

### Tasks

In [ ]:
# У пользователя может быть два идентификатора – UserID и DeviceID. 
# В таблице checks есть только UserID, в остальных – только DeviceID. 
# Во вспомогательной таблице devices есть и UserID, и DeviceID. 

# Давайте с помощью JOIN дополним таблицу events (left) данными о UserID пользователей из таблицы devices (right). 
# Для некоторых DeviceID не будет пары UserID из таблицы devices – подумайте, какой вид JOIN подойдет, чтобы не потерять те строки, где DeviceID есть в events, но нет в devices.

#Укажите UserID из первой строки результирующей таблицы, используя сортировку по убыванию по полю DeviceID.

SELECT *
FROM events AS l
LEFT JOIN devices AS r
    USING(DeviceID)
ORDER BY
    DeviceID DESC
LIMIT 1

In [ ]:
# Давайте проверим, пользователи пришедшие из какого источника совершили наибольшее число покупок. 
# В качестве ответа выберите название Source, юзеры которого совершили больше всего покупок.
# Hint: Для этого используйте UserID, DeviceID и Source из соответствующих таблиц. 
# Считать уникальные значения здесь не нужно. Также заметьте, что покупки со стоимостью 0 рублей всё ещё считаются покупками.
SELECT
    count(Rub) AS quantity_of_buy,  # Количество строк считать
    c.Source AS source
FROM checks AS a
LEFT JOIN devices AS b
    ON
        a.UserID = b.UserID
RIGHT JOIN installs as c
    ON
        b.DeviceID = c.DeviceID
GROUP BY
    source
ORDER BY
    quantity_of_buy DESC
# К таблице checks добавил devices LEFT чтобы получить только с покупками - Rub
# К полученной таблице добавил installs RIGHT чтобы получить только данные с источниками утановок - Source
# Сгруппировал по source
# Отфильтровал
# На экран вывел только 2 колонки
# Source_27 - 22551273 покупок, с учётом нулевых

In [ ]:
# Теперь выясним, сколько всего уникальных юзеров совершили покупки в нашем приложении.
# Объедините нужные таблицы, посчитайте число уникальных UserID для каждого источника (Source), и в качестве ответа укажите число пользователей, пришедших из Source_7.
SELECT
    uniqExact(a.UserID) AS UserID_uniq,
    c.Source AS Source
FROM checks AS a
LEFT JOIN devices AS b
    ON
        a.UserID = b.UserID
LEFT JOIN installs AS c
    ON
        b.DeviceID = c.DeviceID
GROUP BY
    Source
HAVING
    Source = 'Source_7'
# Начинаем с базы checks, потому что нам нужны именно те клиенты, которые сделали покупки какие-то
# К checks клеим devices LEFT, чтобы оставить только те, что есть в базе checks
# К полученной таблице клеим installs LEFT, чтобы получить только те значения, что у нас уже есть в полученной таблице.
# Группируем по источнику / количеству уникальных значений
# Фильтруем на нужный нам источник

In [ ]:
# Самое время посмотреть на общую выручку, а также минимальный, максимальный и средний чек. 
# Рассчитайте нужные показатели и соотнесите полученные значения:

Максимальный чек пользователей из Source_14
MAX(a.Rub) AS max_check - 38189

Общая сумма денег, полученная от пользователей Source_1
SUM(a.Rub) - 74

Средний чек пользователей Source_21
AVG(a.Rub) - 5.5555

Общая выручка для Source_13
SUM(a.Rub) - 2752

Максимальная сумма заказа среди пользователей из Source_10
MAX(a.Rub) - 10

# Заготовка
SELECT
    c.Source AS Source,
    MAX(a.Rub) AS max_check
FROM checks AS a
LEFT JOIN devices AS b
    ON
        a.UserID = b.UserID
LEFT JOIN installs AS c
    ON
        b.DeviceID = c.DeviceID
GROUP BY
    Source
HAVING
    Source = 'Source_14'

In [ ]:
# Как привести данные к типу date?
CAST(l.BuyDate as date)
# Сразу преобразовать и сгруппировать по месяцам
toStartOfMonth(CAST(l.BuyDate as date))

In [ ]:
# Выведите идентификаторы устройств пользователей, которые совершили как минимум одну покупку за последний месяц (октябрь 2019). 
# Используйте сортировку по возрастанию DeviceID и укажите минимальное значение.
# Hint: для извлечения месяца из даты можно использовать toMonth() или  toStartOfMonth(), предварительно приведя BuyDate к типу date.
SELECT
    toStartOfMonth(CAST(l.BuyDate as date)) AS buy_month,
    r.DeviceID AS DeviceID
FROM checks AS l
LEFT JOIN devices AS r
    USING(UserID)
GROUP BY
    toStartOfMonth(CAST(l.BuyDate as date)),
    DeviceID
HAVING
    toStartOfMonth(CAST(l.BuyDate as date)) = '2019-10-01'
ORDER BY
    DeviceID ASC
LIMIT 10

In [ ]:
# Проверим, сколько товаров (events) в среднем просматривают пользователи с разных платформ (Platform), и пришедшие из разных источников  (Source). 
# Для этого объедините таблицы events и installs, и посчитайте, сколько просмотров в среднем приходится на каждую пару платформа-канал привлечения.
# Отсортируйте полученную табличку по убыванию среднего числа просмотров. В качестве ответа укажите платформу и источник, пользователи которого в среднем просматривали товары бóльшее число раз.
SELECT
    l.AppPlatform AS AppPlatform,
    r.Source AS Source,
    AVG(l.events) AS avg_events
FROM events AS l
JOIN installs AS r
    USING(DeviceID)
GROUP BY
    AppPlatform,
    Source
ORDER BY
    avg_events DESC
LIMIT 10
# К таблице events приклеили installs чтобы видеть источник по колонке DeviceID
# Взяли среднее значение events
# Сгруппировали по AppPlatform + Source
# Сортировка по убыванию

In [ ]:
# Давайте посчитаем число уникальных DeviceID в инсталлах, для которых присутствуют просмотры в таблице events с разбивкой по платформам (поле Platform). 
# Для этого можно отобрать все строки только из таблицы installs, для которых нашлось соответствие в таблице events. 
# В качестве ответа введите число инсталлов, для которых нашлись просмотры, на платформе android.
# Внимание! "Нашлось 0 просмотров" тоже считается как "нашлись просмотры". Главное, чтобы не было именно пропуска.
SELECT
    r.Platform AS Platform,
    uniqExact(DeviceID) AS DeviceID_uniq
FROM events AS l
LEFT JOIN installs AS r
    USING(DeviceID)
GROUP BY
    Platform
HAVING
    Platform = 'android'
# Прилипили к таблице events таблицу installs LEFT по колонке DeviceID, чтобы остались значения только из таблицы events
# Из колонки DeviceID взяли только уникальные значения
# Сгруппировали по Platform / уникальные значения DeviceID
# Отфильтровали по android

In [ ]:
# Давайте теперь посчитаем конверсию из инсталла в просмотр с разбивкой по платформе инсталла – в данном случае это доля DeviceID, для которых есть просмотры, от всех DeviceID в инсталлах. 
# Для этого нужно объединить таблицы installs и events так, чтобы получить все DeviceID инсталлов и соответствующие им DeviceID из events, 
# посчитать число уникальных DeviceID инсталлов (1) и соответствующих DeviceID из events (2) и вычислить долю (2) от (1). В качестве ответа укажите значение конверсии из инсталла в просмотр на платформе ios. 
# Внимание: ответ указать не в процентах, а именно в виде доли (т.е. не нужно домножать полученный ответ на 100).

In [ ]:
# Посчитать число уникальных ID с просмотром более 0 для iOS
SELECT
    r.Platform AS Platform,
    l.events > 0 AS events_more_0,
    uniqExact(DeviceID) AS DeviceID_uniq
FROM events AS l
RIGHT JOIN installs AS r
    USING(DeviceID)
GROUP BY
    Platform,
    events_more_0
HAVING
        Platform = 'iOS'
    AND events_more_0 = 1
# Общее число уникальных ID для iOS
SELECT
    r.Platform AS Platform,
    uniqExact(DeviceID) AS DeviceID_uniq
FROM events AS l
RIGHT JOIN installs AS r
    USING(DeviceID)
GROUP BY
    Platform
HAVING
    Platform = 'iOS'

In [ ]:
97969150 r
270729207 l

In [ ]:
1973763 - IOS  и событий более 1 шт количество уникальных ИД
2066381

In [ ]:
1973763 / 2031628

0.9715179156814141

In [ ]:
SELECT
    l.Platform AS Platform,
    l.DeviceID AS DeviceID,
    r.events AS events
FROM installs AS l
LEFT JOIN events AS r
    USING(DeviceID)
LIMIT 10

In [ ]:
# Всего уникальных ID в нашей таблице
SELECT
    uniqExact(DeviceID)
FROM installs AS l
LEFT JOIN events AS r
    USING(DeviceID)
# 11 232 852

# Всего уникальных ID в нашей таблице с фильтром iOS
# Запрос для таблицы 1
SELECT
    l.Platform AS Platform,
    uniqExact(DeviceID) AS DeviceID_without_event
FROM installs AS l
LEFT JOIN events AS r
    USING(DeviceID)
GROUP BY
    Platform
HAVING
    Platform = 'iOS'
# 2 066 381

# Таблица iOS / мин event >0 / ID - длина списка
SELECT count(*)
FROM
    (
    SELECT
        l.Platform AS Platform,
        MIN(r.events) AS events_min,
        l.DeviceID AS DeviceID
    FROM installs AS l
    LEFT JOIN events AS r
        USING(DeviceID)
    GROUP BY
        Platform,
        DeviceID
    HAVING
            Platform = 'iOS'
        AND events_min > 0
    )
# 1 277 257

# Запрос для таблицы 2 - работает!
SELECT
    Platform,
    uniqExact(DeviceID) AS DeviceID_with_event
FROM
    (
    SELECT
        l.Platform AS Platform,
        MIN(r.events) AS events,
        l.DeviceID AS DeviceID
    FROM installs AS l
    LEFT JOIN events AS r
        USING(DeviceID)
    GROUP BY
        Platform,
        DeviceID
    HAVING
            Platform = 'iOS'
        AND events > 0
    )
WHERE
    events > 0
GROUP BY
    Platform

In [ ]:
# Чтобы перечислить несколько стран, нужно пользоваться такой конструкцией как
WHERE Country IN ('A', 'B', 'C')

In [ ]:
SELECT
    uniqExact(l.DeviceID) / uniqExact(r.DeviceID) AS KONVERSION
FROM events AS l
RIGHT JOIN installs AS r
    USING(DeviceID)

In [ ]:
# Результирующий запрос
SELECT
    Platform,
    DeviceID_iOS_with_event,
    DeviceID_iOS_without_event,
    DeviceID_iOS_with_event / DeviceID_iOS_without_event AS KONVERSION
FROM
    (
    SELECT
        Platform,
        uniqExact(DeviceID) AS DeviceID_iOS_with_event
    FROM
        (
        SELECT
            r.Platform AS Platform,
            MIN(l.events) AS events,
            l.DeviceID AS DeviceID
        FROM events AS l
        RIGHT JOIN installs AS r
            USING(DeviceID)
        GROUP BY
            Platform,
            DeviceID
        HAVING
                Platform = 'iOS'
            AND events > 0
        )
    WHERE
        events > 0
    GROUP BY
        Platform
    ) AS l
JOIN
    (
    SELECT
        r.Platform AS Platform,
        uniqExact(DeviceID) AS DeviceID_iOS_without_event
    FROM events AS l
    RIGHT JOIN installs AS r
        USING(DeviceID)
    GROUP BY
        Platform
    HAVING
        Platform = 'iOS'
    ) AS r
        USING(Platform)

In [ ]:
# Итоговое решение, которое приняла программа:
SELECT
    uniqExact(l.DeviceID) / uniqExact(r.DeviceID) AS KONVERSION
FROM events AS l
RIGHT JOIN installs AS r
    USING(DeviceID)

In [ ]:
# Задача 12
# Представим, что в логирование DeviceID в событиях закралась ошибка - часть ID была записана в базу некорректно. 
# Это привело к тому, что в таблице с событиями появились DeviceID, для которых нет инсталлов. 
# Нам надо отобрать примеры DeviceID из таблицы event, которых нет в таблице installs, чтобы отправить их команде разработчиков на исправление. 
# Выведите 10 уникальных DeviceID, которые присутствуют в таблице events, но отсутствуют в installs, отсортировав их в порядке убывания. 
# В качестве ответа введите первый DeviceID из списка.
SELECT
    r.InstallationDate,
    DeviceID
FROM events AS l
LEFT JOIN installs AS r
    USING(DeviceID)
ORDER BY
    InstallationDate ASC,
    DeviceID DESC
LIMIT 50
# Первая строка

## Lesson 004

### Lection

In [ ]:
# Познакомимся с различными типами данных: булевы, числовые, строковые, временные, Nullable, массивы и геокоординаты.
#  Узнаем, как менять тип данных и что такое переполнение типов.

In [ ]:
# Int[8/16/32/64] / UInt[8/16/32/64]
# Типы данных Int и UInt предназначены для хранения целых чисел фиксированной длины.
# 8/16/32/64 обозначают разрядность, чем она больше, тем больший диапазон значений может хранить.
# Главное отличие между Int и Unit заключается в том, что первый может хранить как положительные, так и отрицательные значения.

In [ ]:
# Булевы значения
# Хранение булевых значений в ClickHouse реализовано через UInt8 , отдельный тип данныхдля них не выделен. 
# Сами значения такого формата принимают значение либо 1, либо 0.
# 1 - True
# 2- False

In [ ]:
# Проверить тип данных
SELECT
    toTypeName(123)

In [ ]:
# Переполнение типов
# Что же произойдет, если наши данные хранились с типом Int8 , но максимальное значение увеличилось на единичку и превысило 127?
# Тип данных автоматически увеличит битность (с 8 на 16)

In [ ]:
# Явное преобразование типов
SELECT
    CAST(127 AS UInt64) AS cast_data_type
# Неявное преобразование типов - когда значение числа уже не попадает в диапазон - тип меняется автоматически

In [ ]:
# Если лимит вышел - расчёт начинается снова с 0

In [ ]:
# > Nullable(TypeName)
# Nullable(TypeName) – позволяет вместе хранить значения как определенного типа (где TypeName – название нужного типа), так и NULL.
# Позволяет работать как со значением типа TypeName так и с отсутствием этого значения (NULL) в одной и той же переменной, в том числе хранить NULL в таблицах вместе со значения типа TypeName
# NULL — значение по умолчанию для типа Nullable, если в конфигурации сервера ClickHouse не указано иное.

In [ ]:
# Date / DateTime / Interval
# Перевести строку в дату
SELECT
    toTypeName(CAST('2019-10-12' AS Date)) AS cast_data_type,
    CAST('2019-10-12' AS Date) AS date
    toUInt64(2) as test  # В Кликхаусе есть свои функции по переводу типов данных

In [ ]:
# Отобразить текущую дату и время
SELECT
    now() AS date_now,
    yesterday( ) AS yesterday  # Вчера
# Тип данныъ будет DateTime

In [ ]:
# Посчитать разницу между датой в днях
SELECT
    CAST('2019-10-12' AS Date) - CAST('2019-10-02' AS Date) AS date_diff
# Ответ в днях будет

In [ ]:
# date_diff
# Вычисляет разницу указанных границ unit пересекаемых между startdate и enddate.
date_diff('unit', startdate, enddate, [timezone])
unit — единица измерения времени, в которой будет выражено возвращаемое значение функции. String. Возможные значения:

second (возможные сокращения: ss, s)
minute (возможные сокращения: mi, n)
hour (возможные сокращения: hh, h)
day (возможные сокращения: dd, d)
week (возможные сокращения: wk, ww)
month (возможные сокращения: mm, m)
quarter (возможные сокращения: qq, q)
year (возможные сокращения: yyyy, yy)

startdate — первая дата или дата со временем, которая вычитается из enddate. Date, Date32, DateTime или DateTime64.
enddate — вторая дата или дата со временем, из которой вычитается startdate. Date, Date32, DateTime или DateTime64.
timezone — часовой пояс (необязательно).

In [ ]:
# Пример:
SELECT
    dateDiff(week, CAST('2018-03-12' AS Date), CAST('2019-10-12' AS Date))

In [ ]:
# Извлечь номер месяца из даты:
SELECT
    toMonth(now()) AS current_month

In [ ]:
# Лучше пользоваться округлением
toStartOfYear - Округляет дату или дату-с-временем вниз до первого дня года.
toStartOfMonth - Округляет дату или дату-с-временем до последнего числа месяца
toStartOfDay - Округляет дату-с-временем вниз до начала дня.

SELECT
    toStartOfMonth(now()) AS start_current_month
# 2023-01-01 - окргулил до первого дня текущего месяца

In [ ]:
# Float32, Float64
# Проблемы с округлением!
# Числа с плавающей запятой.
# Рекомендуется хранить данные в целочисленном виде всегда, когда это возможно.

In [ ]:
# Decimal(P, S), Decimal32(S), Decimal64(S), Decimal128(S), Decimal256(S)
# Знаковые дробные числа с сохранением точности операций сложения, умножения и вычитания. 
# Для деления осуществляется отбрасывание (не округление) знаков, не попадающих в младший десятичный разряд.

In [ ]:
# Array(T)
# Массив из элементов типа T. T может любым, в том числе массивом. 
# Таким образом поддерживаются многомерные массивы. 
# Первый элемент массива имеет индекс 1.
SELECT
    array('a', '2', '8484', 'Hello!') AS array_test
    array('a', '2', '8484', 'Hello!')[4] AS array_4_test
# Создали массив и обратились к 4-му элементу

In [ ]:
# Tuple(T1, T2, …)
# Кортеж из элементов любого типа. Элементы кортежа могут быть одного или разных типов.
# Кортежи используются для временной группировки столбцов.
SELECT
    tuple('c', 3, '34', 84, 'Hello!') AS tuple_test,
    tuple('c', 3, '34', 84, 'Hello!').3 AS tuple_3_test
# Создали кортеж и обратились к 3-му элементу

In [ ]:
# groupArray()
# Создаёт массив данных из необходимой колонки
# Составляет массив из значений аргумента. Значения в массив могут быть добавлены в любом (недетерминированном) порядке.
# 
SELECT
    BuyDate,
    groupArray(UserID) AS all_users
FROM checks
WHERE
    Rub > 1000
GROUP BY
    BuyDate
LIMIT 10
# В графу all_users запишет массив из всех данных, которые проходят по условиям
# В колонке all_users приведены все юзеры, которые покупали что-то в этот день

In [ ]:
# orNull / orZero
# Добавка / Модификатор / Заглушка к функции, если не получается транформировать тип данных
SELECT
    toUInt64OrZero('text') as test  # Вернёт цифру 0, если невозможно выполнить конвертацию типа
    toUInt64OrNull('text') as test  # Вернёт Null - отсутствие значения вообще, если невозможно выполнить конвертацию типа

In [ ]:
# Функция coalesce
# Перебирает значения слева направа пока не найдёт первый не Null
SELECT
    coalesce(toUInt64OrNull('text'), null, null, 5, 10)
# Вернёт 5

In [ ]:
# geoDistance
# geoDistance – функция для работы с координатами, рассчитывающая расстояние между двумя точками в метрах.
Параметры:
lon1Deg — долгота первой точки в градусах
lat1Deg — широта первой точки в градусах 
lon2Deg — долгота второй точки в градусах
lat2Deg — широта второй точки в градусах
Все значения долготы должны быть в диапазоне [-180°, 180°], широты – [90°, 90°].

In [ ]:
# Пример
SELECT
    geoDistance(0.1278, 51.5074, 30.3609, 59.9311) AS dist_m,
    dist_m / 1000 AS dist_km

In [ ]:
# Функция replaceAll
# Заменить значения в колонке
# replaceAll(столбец, что_заменить, на_что_заменить) – замена значений в колонке
SELECT
--    host_response_rate
    replaceAll(host_response_rate, '%', '') AS host_response_rate
FROM listings
LIMIT 50

In [ ]:
# Преобразовать данные в инт32 либо указать Null - toInt32OrNull
SELECT
    toInt32OrNull(replaceAll(host_response_rate, '%', '')) AS host_response_rate
FROM listings
LIMIT 5

In [ ]:
# Изменить текст в колонке. Функция replaceRegexpAll
SELECT
    replaceRegexpAll(price, '[$,]', '') AS price
FROM listings

### Tasks

In [ ]:
# Пользователи, сдающие квартиры на Airbnb, зарегистрировались в разное время. 
# Кто-то – очень давно, а кто-то совсем недавно. Давайте проверим, в какой месяц и год зарегистрировалось наибольшее количество новых хостов. 
# В качестве ответа введите дату следующего формата: 2010-12
# host_id – идентификатор хозяина
# host_since – дата регистрации как хост
SELECT
    uniqExact(host_id) AS host_id_uniq,
    toStartOfMonth(toDateOrNull(host_since)) AS year_month
FROM listings
GROUP BY
    toStartOfMonth(toDateOrNull(host_since))
ORDER BY
    host_id_uniq DESC
LIMIT 5
# Для начала проверили корректность обработки пропусков в колонке host_since - toDateOrNull() + перевели в дату
# Вернули дату к месяцу / году - toStartOfMonth
# По колонке host_id взяли уникальные значения
# Сгруппировали по году/месяцу

In [ ]:
# Проверить количество пропусков по каждой колонке из дф
df.isnull().sum()

In [ ]:
# Проверка количества Null в колонке host_id / host_since
SELECT count(*)
FROM
    (
    SELECT
        isNull(host_id)
    FROM listings
    )
# 22 552 - отсутствует значение - NaN

In [ ]:
# Посмотрим на среднюю частоту ответа среди хозяев (f) и суперхозяев (t).
# Значения частоты ответа хранятся как строки и включают значок %, который необходимо заменить на пустоту ('')
# После этого приведите столбец к нужному типу данных с помощью toInt32OrNull() и посчитайте среднюю частоту отклика в разбивке по тому, является ли хост суперхозяином или нет.
# В качестве ответа укажите наибольшее среднее.
SELECT
    AVG(host_response_rate),
    host_is_superhost
FROM
    (
    SELECT
        DISTINCT toInt32OrNull(replaceAll(host_response_rate, '%', '')) AS host_response_rate,  # DISTINCT Обязательно тут!
        host_is_superhost,
        host_id
    FROM listings
    )
GROUP BY
    host_is_superhost
LIMIT 10
# Меняем % на отсутствие знака для колонки host_response_rate
# Колонку host_response_rate переводим в тип Int32, там, где нет значений - указываем null - toInt32OrNull
# Для колонки host_response_rate берём уникальные значения!
# Во внешней таблице группируем по значениям в таблице host_is_superhost в значениях берём среднее значение из колонки host_response_rate
Внутренняя таблица:
SELECT
    DISTINCT toInt32OrNull(replaceAll(host_response_rate, '%', '')) AS host_response_rate,
    host_is_superhost,
    host_id
FROM listings
LIMIT 10

In [ ]:
# Сгруппируйте данные из listings по хозяевам (host_id) и посчитайте, какую цену за ночь в среднем каждый из них устанавливает (у одного хоста может быть несколько объявлений). 
# Идентификаторы сдаваемого жилья объедините в отдельный массив. 
# Таблицу отсортируйте по убыванию средней цены и убыванию host_id (в таком порядке). 
# В качестве ответа укажите первый массив в результирующей таблице, состоящий более чем из двух id.
SELECT
    host_id,
    groupArray(id) AS ids,
    AVG(toFloat32OrNull(replaceRegexpAll(price, '[$,]', ''))) AS price_avg
FROM listings
GROUP BY
    host_id
ORDER BY
    price_avg DESC,
    host_id DESC
LIMIT 10
# С помощью регулярного выражения [$,] иreplaceRegexpAll убираем знаки $ и запятые.
# Затем остаётся всего лишь привести к float с помощью toFloat32OrNull, 
# а затем взять среднее
# создаём массив по данным из колонки id
# Группируем по host_id, фильтруем

In [ ]:
# Немного усложним предыдущую задачу, и посчитаем разницу между максимальной и минимальной установленной ценой у каждого хозяина. 
# В качестве ответа укажите идентификатор хоста, у которого разница оказалась наибольшей. 
SELECT
    host_id,
    groupArray(id) AS ids,
--    MAX(toFloat32OrNull(replaceRegexpAll(price, '[$,]', ''))) AS price_max,
--    MIN(toFloat32OrNull(replaceRegexpAll(price, '[$,]', ''))) AS price_min
    MAX(toFloat32OrNull(replaceRegexpAll(price, '[$,]', ''))) - MIN(toFloat32OrNull(replaceRegexpAll(price, '[$,]', ''))) AS dif_max_min
FROM listings
GROUP BY
    host_id
ORDER BY
    dif_max_min DESC
LIMIT 10
# C прошлой задачи оставили заготовку!
# Нашли минимум и максимум. Взял разницу

In [ ]:
# Теперь сгруппируйте данные по типу жилья и выведите средние значения цены за ночь, размера депозита и цены уборки. 
# Обратите внимание на тип данных, наличие значка $ и запятых в больших суммах. 
# Для какого типа жилья среднее значение залога наибольшее?
# room_type – тип сдаваемого жилья 
# price – цена за ночь
# security_deposit – залог за сохранность имущества
# cleaning_fee – плата за уборку
SELECT
    room_type,
    AVG(toFloat32OrNull(replaceRegexpAll(price, '[$,]', ''))) AS price_avg,
    AVG(toFloat32OrNull(replaceRegexpAll(security_deposit, '[$,]', ''))) AS security_deposit_avg,
    AVG(toFloat32OrNull(replaceRegexpAll(cleaning_fee, '[$,]', ''))) AS cleaning_fee_avg
FROM listings
GROUP BY
    room_type
ORDER BY
    security_deposit_avg DESC
LIMIT 1
# Просто прошлись по наполнению и типу колонок
# Взяли среднее значение по тем, которые будем аггрегировать
# Сгруппировали

In [ ]:
# Отлично! В каких частях города средняя стоимость за ночь является наиболее низкой? 
# Сгруппируйте данные по neighbourhood_cleansed и посчитайте среднюю цену за ночь в каждом районе. 
# В качестве ответа введите название места, где средняя стоимость за ночь ниже всего.
SELECT
    neighbourhood_cleansed,
    AVG(toFloat32OrNull(replaceRegexpAll(price, '[$,]', ''))) AS price_avg
FROM listings
GROUP BY
    neighbourhood_cleansed
ORDER BY
    price_avg ASC
LIMIT 1
# Очень простая группировка

In [ ]:
# В каких районах Берлина средняя площадь жилья, которое сдаётся целиком, является наибольшей? 
# Отсортируйте по среднему и выберите топ-3.
# room_type – тип (нужный – 'Entire home/apt')
SELECT
    neighbourhood_cleansed,
    AVG(toFloat32OrNull(square_feet)) AS square_feet_avg
FROM listings
WHERE
    room_type = 'Entire home/apt'
GROUP BY
    neighbourhood_cleansed
ORDER BY
    square_feet_avg DESC
LIMIT 3

In [ ]:
# Напоследок давайте посмотрим, какая из представленных комнат расположена ближе всего к центру города. 
# В качестве ответа укажите id объявления.
# id – идентификатор жилья (объявления)
room_type – тип жилья ('Private room')
latitude – широта
longitude – долгота
52.5200 с.ш., 13.4050 в.д – координаты центра Берлина
# Решение
SELECT
    id,
    geoDistance(13.4050, 52.5200, toFloat64OrNull(longitude), toFloat64OrNull(latitude)) AS distance
FROM listings
WHERE
    room_type = 'Private room'
ORDER BY
    distance ASC
LIMIT 1
# Перевели данные из типа строки в флот
# При помощи функции geoDistance рассчитали дистанцию
# Отфильровали по room_type

## Lesson 05

### Lection

In [ ]:
# Научимся использовать подзапросы и представления таблиц, а также вставлять новые данные. 
# Узнаем, как создавать, сохранять и удалять таблицы.

In [ ]:
# Подзапросы
# Используебтся тогда, когда результирующую таблицу необходимо использовать, как входную таблицу для другого запроса
# Пример
SELECT
    AVG(cost_fix_avg) AS cost_fix_avg_total
FROM
    (
    SELECT
        Source,
        AVG(cost_fix) AS cost_fix_avg
    FROM
        (
        SELECT
            InstallationDate,
            Platform,
            DeviceID,
            Source,
            InstallCost * 0.87 AS cost_fix
        FROM installs
        )
    GROUP BY
        Source
    HAVING
        cost_fix_avg > 0
    )

In [ ]:
# Представления
# - Обычные
# - Материализованные

In [ ]:
# Обычные представления

# Обычные представления – сохранение SQL запроса
# Т.е. вы создаете виртуальную таблицу, при вызове которой будет выполняться запрос для её создания.
# Такие представления на самом деле не содержат данных, а извлекают их из таблицы в момент обращения

# Если часто используешь какую-то определённую выборку из определённой базы данных
# По сути мы сохранили запрос как таблицу: он будет отображаться в списке таблиц как таблица, но на самом деле таблицей не является.
#  Каждый раз, когда вызываем VIEW , код запроса выполняется.

# Может быть удобно, если вы написали очень большой запрос и планируете часто переиспользовать.

In [ ]:
# Пример создания представления обычного
CREATE VIEW ios_source_14_installs_kucher AS (
SELECT *
FROM installs
WHERE 
        Platform = 'iOS'
    AND Source = 'Source_14'
)
# Задал 2 фильтра
# Теперь можно использовать созданное ранее представление:
SELECT *
FROM ios_source_14_installs_kucher
LIMIT 100
# Получим таблицу с фильтрами нашими

In [ ]:
# Материализованные представления
# Создаются командой CREATE MATERIALIZED VIEW . Также нужно указать движок таблицы, о них поговорим немного позже!
# Материализованное хранит данные на диске, т.е. больше похожа на таблицу
# Когда мы вызываем обычное представление, выполняется запрос, а когда материализованное – данные поднимаются с диска.

# Данные в материализованных представлениях обновляются тогда, когда обновляются те таблицы, по которым они считаются.
# В данном случае, как только запишутся новые строки в installs , материализованное представление обновится и допишет их к себе

In [ ]:
# Пример создания представления материализованного
CREATE MATERIALIZED VIEW ios_source_14_installs_kucher_material ENGINE = Log POPULATE AS (
SELECT *
FROM installs
WHERE 
        Platform = 'iOS'
    AND Source = 'Source_14'
)
# Задал 2 фильтра
# Теперь можно использовать созданное ранее представление - таблицу:
SELECT *
FROM ios_source_14_installs_kucher_material
LIMIT 100

In [ ]:
# WITH
# WITH – используется для объявления параметров. В ClickHouse можно использовать только скалярные выражения, т.е. результат подзапроса должен быть одной строкой.
WITH
    (SELECT AVG(InstallCost) AS InstallCost_avg FROM installs) AS InstallCost_avg,  # Передали подзапрос
    InstallCost * 0.87 AS cost_fix,                                                 # Сразу на будущее модифицировать колонку
    'useless_text' AS text                                                          # Передать что-то дополнительное, например текст
SELECT
    InstallationDate,
    Platform,
    InstallCost,
    InstallCost_avg,
    cost_fix,
    text
FROM installs
LIMIT 100

In [ ]:
# CREATE TABLE
# Создание таблицы
# 3 способа

In [ ]:
# Создать новую пустую таблицу со своими колонками
CREATE TABLE test_table_kucher (
    field1 UInt32,  # название колонки и тип данных
    field2 String   # название колонки и тип данных
) ENGINE = Log
# Обратиться к созданной таблице:
SELECT *
FROM test_table_kucher

In [ ]:
# Создать новую пустую таблицу со структурой и движком, как у другой таблицы
CREATE TABLE test_table_installs_kucher AS installs  # скопировали структуру у таблицы installs
# Обратиться к созданной таблице:
SELECT *
FROM test_table_installs_kucher
# Колонки такие же, значений нет

In [ ]:
# Создать новую таблицу со структурой / данными, как у другой таблицы
CREATE TABLE test_table_installs_iOS_select_kucher ENGINE = Log AS  # ENGINE = Log - обязательно указать движок
(
SELECT *  # через select указываем таблицу, которую необходимо скопировать
FROM installs
WHERE Platform = 'iOS'
)

In [ ]:
# DROP TABLE
# DROP TABLE – удалить таблицу.
DROP TABLE test_table_kucher

In [ ]:
# INSERT INTO
# INSERT INTO – запись данных в таблицу. Названия полей и типы данных должны совпадать с исходной таблицей.

In [ ]:
# Для начала создадим новую таблицу
CREATE TABLE ct_test_new_kucher
(
    field_one UInt32,
    field_two String
) ENGINE = Log
# Добавили по 1 значению в каждую колонку вручную
INSERT INTO ct_test_new_kucher
SELECT
    123 AS field_one,
    'TEXT' AS field_two

In [ ]:
# Вставить через SELECT
# Создадим новую таблицу c формой другой таблицы
CREATE TABLE test_table_kucher AS installs
# Перенесли данные из другой таблицы с небольшой корректировкой
INSERT INTO test_table_kucher
SELECT
    InstallationDate,
    InstallCost * 0.87 AS InstallCost,  # Вот тут корректировка
    Platform,
    DeviceID,
    Source
FROM installs
# Проверим длину таблицы
SELECT count() AS rows
FROM test_table_kucher

In [ ]:
# ALTER – команда для изменения данных
# Скопируем таблицу
CREATE TABLE installs_mt_kucher ENGINE = MergeTree ORDER BY (InstallationDate) AS
(
SELECT *
FROM installs
)
# Создать пустую колонку. new_field - название колонки. AFTER DeviceID - расположение после колонки DeviceID
ALTER TABLE installs_mt_kucher ADD COLUMN new_field String AFTER DeviceID
# Изменили тип данных колонки new_field
ALTER TABLE installs_mt_kucher MODIFY COLUMN new_field UInt16
# Удалили столбец new_field
ALTER TABLE installs_mt_kucher DROP COLUMN new_field
# Удалить строки из таблицы по заданному условию: InstallCost = 0
ALTER TABLE installs_mt_kucher DELETE WHERE InstallCost = 0
# Откорректировать колонку при выполнении условия
ALTER TABLE installs_mt_kucher UPDATE InstallCost = InstallCost * 2 WHERE Platform = 'iOS'

In [ ]:
# Преобразовать серию Sries в список
print(series.tolist())
print(df_task_2_exams.sort_values('comleted', ascending = False).head(1)['id_assessment'].tolist()[0])

In [ ]:
# Подзапросы можно использовать в разных частях запроса, в том числе и в блоке WHERE
SELECT
    column_1,
    column_2
FROM
    table
WHERE
    column_2 = (SELECT MAX(column_2) 
                FROM table)

In [ ]:
# Найти максимальное значение в колонке
SELECT MAX(listing_id) 
FROM calendar_summary

In [ ]:
# Найти текст в строке
# по функции multiSearchAnyCaseInsensitive(колонка, ['искомая_подстрока']), 
# которая ищет заданную подстроку в строке вне зависимости от регистра и выдает 0 в случае, если подстрока не была найдена
SELECT
    multiSearchAnyCaseInsensitive(amenities, ['WiFi'])  # amenities - колонка / WiFi - искомый текст
FROM listings
LIMIT 100

In [ ]:
# оператор CASE
# С помощью оператора CASE в SQL можно составлять условные конструкции, выполнять проверку условий и возвращать результат в зависимости от их выполнения. 
# Самих условий под оператором WHEN может быть сколько угодно, конструкцию необходимо завершить оператором END. 
# Структура выглядит следующим образом:
SELECT 
    CASE
        -- если значение в column_1 больше, чем в column_2, в новый столбец будет записана единичка
        WHEN column_1 > column_2 THEN 1 
        -- если значение в column_1 меньше, чем в column_2, в новый столбец будет записана двойка
        WHEN column_1 < column_2 THEN 2
        -- во всех остальных случаях – тройка
        ELSE 3
    END AS cond_1 -- END – завершаем конструкцию, а новый столбец называем cond_1
FROM
    table

### Tasks

In [ ]:
# Сначала оставьте только те объявления, в которых оценка на основе отзывов выше среднего, а число отзывов в месяц составляет строго меньше трёх. 
# Затем отсортируйте по убыванию две колонки: сначала по числу отзывов в месяц, потом по оценке. 
# В качестве ответа укажите id объявления из первой строки.
WITH
    (SELECT AVG(toFloat32OrNull(review_scores_rating)) AS review_scores_rating_avg FROM listings) AS review_scores_rating_avg
SELECT
    toFloat32OrNull(review_scores_rating) AS review_scores_rating,
    reviews_per_month,
    id
--    review_scores_rating_avg
FROM listings
WHERE
        review_scores_rating > review_scores_rating_avg
    AND reviews_per_month < 3
ORDER BY
    reviews_per_month DESC,
    review_scores_rating DESC
LIMIT 1
# В условии WITH посчитал review_scores_rating_avg, с которым буду сравнивать
# Задал необходимыые фильтры, отсортировал

In [ ]:
# Посчитайте среднее расстояние до центра города и выведите идентификаторы объявлений о сдаче отдельных комнат, для которых расстояние оказалось меньше среднего. 
# Результат отсортируйте по убыванию, тем самым выбрав комнату, которая является наиболее удаленной от центра, но при этом расположена ближе, чем остальные комнаты в среднем.
# При подсчете среднего тип комнаты тоже следует учесть.
WITH
    (SELECT AVG(geoDistance(13.4050, 52.5200, toFloat64OrNull(longitude), toFloat64OrNull(latitude))) AS distance_avg FROM listings WHERE room_type = 'Private room') AS distance_avg
SELECT
    id,
    host_id,
    room_type,
    geoDistance(13.4050, 52.5200, toFloat64OrNull(longitude), toFloat64OrNull(latitude)) AS distance,
    distance_avg
FROM listings
WHERE
        room_type = 'Private room'
    AND distance < distance_avg
ORDER BY
    distance DESC
LIMIT 1
# В блоке WITH опредедлил среднюю удалённость от центра. НЕ ЗАБЫТЬ ФИЛЬТР ТУТ! room_type = 'Private room'. Иначе некорректное значение получается
# Вывел необходимые столбцы на печать
# Сделал необходимые фильтры / сортировку

In [ ]:
# Отберите объявления из таблицы listings, которые:
# находятся на расстоянии от центра меньше среднего (здесь нам пригодится запрос из предыдущего задания)
# обойдутся дешевле 100$ в день (price с учетом cleaning_fee, который добавляется к общей сумме за неделю, т.е его нужно делить на кол-во дней)
# имеют последние отзывы (last_review), начиная с 1 сентября 2018 года
# имеют WiFi в списке удобств (amenities)
# отсортируйте полученные значения по убыванию review_scores_rating (не забудьте перевести строку к численному виду) и в качестве ответа укажите host_id из первой строки. 
WITH
    (SELECT AVG(geoDistance(13.4050, 52.5200, toFloat64OrNull(longitude), toFloat64OrNull(latitude))) AS distance_avg FROM listings ) AS distance_avg
SELECT
    host_id,
    toFloat32OrNull(review_scores_rating) AS review_scores_rating,  # данные в перевёл в числа
    geoDistance(13.4050, 52.5200, toFloat64OrNull(longitude), toFloat64OrNull(latitude)) AS distance, # данные в перевёл в числа и определил расстояние до точки для каждого
    multiSearchAnyCaseInsensitive(amenities, ['WiFi']) AS wifi,  # определил наличие wifi
    toDateOrNull(last_review) AS last_review,  # перевёл данные в дату
    toFloat32OrNull(replaceRegexpAll(price, '[$,]', '')) AS price,  # удалили символы и перевёл в число
    toFloat32OrNull(replaceRegexpAll(cleaning_fee, '[$,]', '')) / 7 AS cleaning_fee_per_7_days  # удалили символы и перевёл в число + разделил на количество дней в неделе
FROM listings
WHERE
        distance < distance_avg  # находятся на расстоянии от центра меньше среднего
    AND wifi = 1  # имеют WiFi в списке удобств (amenities)
    AND last_review > '2018-09-01' # имеют последние отзывы (last_review), начиная с 1 сентября 2018 года
    AND (price + cleaning_fee_per_7_days) < 100  # бойдутся дешевле 100$ в день
ORDER BY
    review_scores_rating DESC  # отсортируйте полученные значения по убыванию review_scores_rating
LIMIT 1
# В блоке WITH определил среднюю дистанцию по всем объявлениям - distance_avg

In [ ]:
# Теперь задача! Используйте таблицу checks и разделите всех покупателей на сегменты:
# NB! Правые границы берутся не включительно, например, чек в 10 рублей будет относиться к сегменту С
# Отсортируйте результирующую таблицу по возрастанию UserID и укажите сегмент четвертого пользователя.
А — средний чек покупателя менее 5 ₽
B — средний чек покупателя от 5-10 ₽
C — средний чек покупателя от 10-20 ₽
D — средний чек покупателя от 20 ₽
Отсортируйте результирующую таблицу по возрастанию UserID и укажите сегмент четвертого пользователя.
# Решение
# Сначала сгруппируем таблицу по пользователям / среднему чеку
SELECT
    AVG(Rub) AS rub_avg,
    UserID
FROM checks
GROUP BY
    UserID
# Полный запрос c включением исходной таблицы
SELECT
    UserID,
    rub_avg,
    CASE
        WHEN rub_avg < 5 THEN 'A'
        WHEN rub_avg >= 5 AND rub_avg < 10 THEN 'B'
        WHEN rub_avg >= 10 AND rub_avg < 20 THEN 'C'
        ELSE 'D'
    END AS user_categoria
FROM
    (
    SELECT
        AVG(Rub) AS rub_avg,
        UserID
    FROM checks
    GROUP BY
        UserID
    )
ORDER BY
    UserID ASC
LIMIT 4
# Создали исходную таблицу с группировкой
# Вывели на печать необходимые колонки
# В блоке CASE задали необходимые параметры
# Сортировка необходимая

In [ ]:
# Используйте предыдущий запрос как подзапрос и посчитайте, сколько клиентов приходится на каждый сегмент и сколько доходов он приносит. 
# Отсортируйте результат по убыванию суммы доходов на сегмент и в качестве ответа укажите наибольшую сумму.
SELECT
    SUM(Rub) AS rub_sum,
    count(UserID) AS UserID_count,
    user_categoria
FROM
    (
    SELECT
        Rub,
        UserID,
        user_categoria
    FROM checks AS l
    LEFT JOIN 
    (
    SELECT
        UserID,
        CASE
            WHEN rub_avg < 5 THEN 'A'
            WHEN rub_avg >= 5 AND rub_avg < 10 THEN 'B'
            WHEN rub_avg >= 10 AND rub_avg < 20 THEN 'C'
            ELSE 'D'
        END AS user_categoria
    FROM
        (
        SELECT
            AVG(Rub) AS rub_avg,
            UserID
        FROM checks
        GROUP BY
            UserID
        )
    ORDER BY
        UserID ASC
    ) AS r
        USING(UserID)
    )
GROUP BY
    user_categoria
ORDER BY
    rub_sum DESC
LIMIT 1
# Использовал таблицу с группировкой
# Присоединил к исходной таблице checks LEFT полученную таблицу - только категории по среднему чеку
# Сгруппировал соединённую таблицу по сумме чеков - rub_sum и количеству ID UserID_count для каждой группы средних чеков user_categoria
# Сортировка

In [ ]:
# Предположим, что в выборе жилья нас интересует только два параметра: наличие кухни (kitchen) и гибкой системы отмены (flexible), причем первый в приоритете.
# Создайте с помощью оператора CASE колонку с обозначением группы, в которую попадает жилье из таблицы listings:
'good', если в удобствах (amenities) присутствует кухня и система отмены (cancellation_policy) гибкая
'ok', если в удобствах есть кухня, но система отмены не гибкая
'not ok' во всех остальных случаях
# Результат отсортируйте по новой колонке по возрастанию, установите ограничение в 5 строк, в качестве ответа укажите host_id первой строки.
# Обратите внимание, что cancellation_policy - это отдельная колонка, по ней необходимо смотреть систему отмены
SELECT
    host_id,
    amenities,  # Можно убрать
    cancellation_policy,  # Можно убрать
    multiSearchAnyCaseInsensitive(amenities, ['Kitchen']) AS Kitchen,  # Можно убрать
    CASE
        WHEN cancellation_policy = 'flexible' AND multiSearchAnyCaseInsensitive(amenities, ['Kitchen']) = 1 THEN 'good'
        WHEN multiSearchAnyCaseInsensitive(amenities, ['Kitchen']) = 1 AND cancellation_policy != 'flexible' THEN 'ok'
        ELSE 'not ok'
    END AS my_select
FROM listings
ORDER BY
    my_select ASC
LIMIT 5
# В блоке CASE задали необходимые границы и новую колонку
# Вывели на печать необходимое / сортировка

In [ ]:
# Давайте найдем в таблице calendar_summary те доступные (available='t') объявления, у которых число отзывов от уникальных пользователей в таблице reviews выше среднего.
# NB! Для простоты будем считать, что отзыв — это уникальный посетитель на уникальное жилье, не учитывая возможные повторные отзывы от того же посетителя.
# Для этого с помощью конструкции WITH посчитайте среднее число уникальных reviewer_id из таблицы reviews на каждое жильё, потом проведите джойн 
# таблиц calendar_summary и reviews по полю listing_id (при этом из таблицы calendar_summary должны быть отобраны уникальные listing_id, 
# отфильтрованные по правилу available='t'). Результат отфильтруйте так, чтобы остались только записи, у которых число отзывов от уникальных людей выше среднего.
# Отсортируйте результат по возрастанию listing_id и в качестве ответа впишите количество отзывов от уникальных пользователей из первой строки.
# Hint: для решения проблем со вложенными агрегационными функциями (и агрегационными функциями там, где их не ждут) как раз очень помогут подзапросы.
WITH (  # В этом блоке предварительно сгруппировал количество reviewer_id для каждого listing_id. После этого взял среднее число
SELECT
    AVG(reviewer_id_uniq_count) AS reviewer_id_uniq_avg
FROM
    (
    SELECT
        count(DISTINCT reviewer_id) AS reviewer_id_uniq_count,
        listing_id
    FROM reviews
    GROUP BY
        listing_id
    )
) AS reviewer_id_uniq_avg  # название переменной для сравнения
SELECT
    listing_id,
    count(DISTINCT reviewer_id) AS reviewer_id_count
FROM
    (
    SELECT
        DISTINCT listing_id
    FROM calendar_summary
    WHERE
        available='t'
    ) AS l
JOIN reviews AS r
    USING(listing_id)
GROUP BY
    listing_id
HAVING
    reviewer_id_count > reviewer_id_uniq_avg
ORDER BY
    listing_id ASC
LIMIT 100

In [ ]:
# Напишите запрос для создания таблицы со следующими параметрами, также подобрав подходящий тип данных.
CREATE TABLE reviews_kucher4 (
    listing_id UInt32,  # – идентификатор объявления, может быть только положительным и целым числом, 32-битный тип данных
    id UInt32,  # – идентификатор хозяина, может быть только положительным и целым числом, 32-битный тип данных
    created_at DateTime('Europe/Moscow'),  # – дата со временем (2020-01-01 00:00:00), часовой пояс – 'Europe/Moscow'
    reviewer_id UInt32,  # – идентификатор ревьюера, может быть только положительным и целым числом, 32-битный тип данных
    reviewer_name String,  # – имя того, кто оставил отзыв
    comments String  # - текст отзыва
) ENGINE = MergeTree()
ORDER BY (listing_id, id)

In [ ]:
# К вам пришел коллега с новостями: оказывается, в поле created_at будет записываться только дата, без времени, поэтому нужно изменить тип данных!
# Напишите запрос, который модифицирует тип данных, и введите его в поле ниже без кавычек и лишних пробелов. 
# Не забудьте указать базу данных test перед названием таблицы!
ALTER TABLE test.reviews MODIFY COLUMN created_at Date

In [ ]:
# Предположим, ваш коллега вставил данные, но что-то перепутал. Часть строк с комментариями осталась совершенно пустой! 
# Напишите запрос, который удалит из таблицы test.reviews те строки, где в столбце comments встречаются пустые значения (''). 
# Введите его в поле ниже без кавычек и лишних пробелов.
ALTER TABLE test.reviews DELETE WHERE comments = ''

In [ ]:
# Напишите запрос, который удвоит price для всех строк с датой (created_at) после 2019-01-01.
# Обратите внимание, что для сравнения с датой в формате '2019-01-01' можно не преобразовывать данные в колонке created_at.
# Note: ответ введите без лишних пробелов между операциями умножения и сравнения и знака '='.

# Откорректировать колонку при выполнении условия
ALTER TABLE test.reviews UPDATE price  = price  * 2 WHERE created_at > '2019-01-01'

## Lesson 6

### Lection

In [ ]:
# Научимся подключаться к ClickHouse через Python c использованием библиотеки pandahouse. 
# Ознакомимся с библиотекой Prophet,  попрактикуемся в прогнозировании временных рядов и визуализации предсказаний.

In [ ]:
# pandahouse - Интерфейс Pandas для ClickHouse

In [ ]:
# Все заготовки в Юпитре в лекциях

In [ ]:
# Датафрэйм с Российскими праздниками
import pandas as pd
import holidays

holidays_dict = holidays.RU(years=(2015, 2016, 2017, 2018, 2019, 2020, 2021))
df_holidays = pd.DataFrame.from_dict(holidays_dict, orient='index') \
    .reset_index()
df_holidays = df_holidays.rename({'index':'ds', 0:'holiday'}, axis ='columns')
df_holidays['ds'] = pd.to_datetime(df_holidays.ds)
df_holidays = df_holidays.sort_values(by=['ds'])
df_holidays = df_holidays.reset_index(drop=True)
df_holidays.head()

In [ ]:
# ДФ с праздниками 2023г.
import pandas as pd
import holidays

holidays_dict = holidays.RU(years=(2023))
df_holidays = pd.DataFrame.from_dict(holidays_dict, orient='index') \
    .reset_index()
df_holidays = df_holidays.rename({'index':'ds', 0:'holiday'}, axis ='columns')
df_holidays['ds'] = pd.to_datetime(df_holidays.ds)
df_holidays = df_holidays.sort_values(by=['ds'])
df_holidays = df_holidays.reset_index(drop=True)
df_holidays

In [ ]:
# Функция explode
import pandas as pd
#create DataFrame
df33 = pd.DataFrame({'team': [['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']],
 'position ':['Guard', 'Forward', 'Center'],
 'points': [7, 14, 19]})
#view DataFrame
df33

In [ ]:
df33.explode('team')

### Tasks

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sns.scatterplot
sns.scatterplot(data=df_group, x='price', y='review_scores_rating', hue='room_type')
# price - первое значение
# review_scores_rating - второе значение
# room_type - по какому значению группировка выполнена

## Lesson 7

### Lection

In [ ]:
# Приступим к визуализации данных. Узнаем, что такое дашборды, зачем они нужны и какими бывают. 
# Также поговорим о том, какие бывают метрики и в каких случаях возникает необходимость создать свою метрику.

In [ ]:
# Группировка с IF в GROUP BY
SELECT
    Date,
    type,
    uniqExact(DeviceID) AS installs
FROM default.installs
GROUP BY
    CAST(InstallationDate AS Date) AS Date,
    IF(InstallCost = 0, 'free', 'money') AS type
ORDER BY
    Date ASC,
    type ASC

In [ ]:
# Что такое IF NOT EXISTS?
# Вы можете добавить в запрос опциональное предложение IF NOT EXISTS. Оно нужно для проверки, не существует ли уже в базе данных та таблица, которую вы хотите создать. 
Это предложение можно поместить непосредственно перед именем таблицы.
CREATE TABLE IF NOT EXISTS teachers();
# Если такая таблица существует, новая не будет создана.
# Если не указать IF NOT EXISTS и попытаться создать заново уже существующую таблицу, получите сообщение об ошибке.

### Tasks

In [ ]:
# Ваш менее опытный коллега не уверен, что его таблица retail действительно создалась и добавилась в базу данных. 
# Напишите запрос, который создаст таблицу, если она еще не существует (IF NOT EXISTS), со следующими параметрами:
CREATE TABLE IF NOT EXISTS test.retail(  # если она еще не существует (IF NOT EXISTS)
    InvoiceNo String, # – идентификатор заказа, строковое значение
    StockCode String, # – идентификатор заказа, строковое значение
    Description String, # – описание товара, строковое значение
    Quantity UInt32, # – количество единиц товара, добавленных в корзину (особенность данных – значения могут быть отрицательными, 32 бита)
    InvoiceDate DateTime('Europe/London'), # – дата и время создания заказа (транзакции), часовой пояс – 'Europe/London'
    UnitPrice Decimal64(3),  # – цена за единицу товара (особенность данных – значения могут быть отрицательными, точность – три знака после точки, 64 бита)
    CustomerID Int32,  # – идентификатор пользователя, целое положительное число, 32 бита.
    Country String  # – страна, строковое значение. 
) ENGINE = MergeTree()
ORDER BY (InvoiceDate, CustomerID)

In [ ]:
# задача 4
SELECT
    Country,
    uniqExact(CustomerID),
    toStartOfMonth(CAST(InvoiceDate as date)) AS Date
FROM default.retail
WHERE Country IN ('United Kingdom', 'Australia', 'Netherlands')
GROUP BY
    Country,
    Date
HAVING
    Date = '2011-02-01'
LIMIT 100

In [ ]:
# MAU (monthly active users) – число уникальных пользователей за месяц.

In [ ]:
# Посчитайте среднюю сумму заказа (AOV – average order value)

In [ ]:
# задача 5
SELECT
    Country,
    uniqExact(CustomerID),
    toStartOfMonth(CAST(InvoiceDate as date)) AS Date
FROM default.retail
WHERE
    Country != 'United Kingdom'
    AND Country IN ('France', 'Germany')
GROUP BY
    Country,
    Date
LIMIT 100

In [ ]:
# задача 6
SELECT
    Country,
    AVG(sum_total_price) AS avg_sum_total_price
FROM
    (
    SELECT
        InvoiceNo,
        SUM(Quantity * UnitPrice) AS sum_total_price,
        Country
    FROM default.retail
    WHERE
        Quantity >= 0
    GROUP BY
        InvoiceNo,
        Country
    )
GROUP BY
    Country

In [ ]:
# задача 7
SELECT
    Country,
    AVG(sum_total_price) AS avg_sum_total_price,
    Date
FROM
    (
    SELECT
        InvoiceNo,
        SUM(Quantity * UnitPrice) AS sum_total_price,
        Country,
        Date
    FROM default.retail
    WHERE
        Quantity >= 0
    GROUP BY
        InvoiceNo,
        Country,
        toStartOfMonth(CAST(InvoiceDate as date)) AS Date
    )
GROUP BY
    Country,
    Date
HAVING
    Country IN ('United Kingdom', 'Germany', 'France', 'Spain', 'Netherlands', 'Belgium', 'Switzerland', 'Portugal', 'Australia', 'USA')

In [ ]:
# задача 8
SELECT
    Country,
    AVG(sum_Quantity) AS avg_sum_Quantity
FROM
    (
    SELECT
        InvoiceNo,
        SUM(Quantity) AS sum_Quantity,
        Country
    FROM default.retail
    WHERE
        Quantity >= 0
    GROUP BY
        InvoiceNo,
        Country
    )
GROUP BY
    Country

In [ ]:
# задача 9
SELECT
    CustomerID,
    SUM(Quantity) AS Quantity_sum
FROM default.retail
WHERE Country = 'Netherlands'
GROUP BY
    CustomerID
ORDER BY
    Quantity_sum DESC
LIMIT 100

## Lesson 8

### Lection

In [ ]:
# Научимся с помощью оконных функций получать значения соседних ячеек, не меняя при этом группировку строк.
# Изучим синтаксис оконных функций и попрактикуемся на различных примерах.

# Считать накопления учень удобно
# Работает в PostgreSQL

# В ClickHouse нет окон! Подобие - функция neighbor.

In [ ]:
# Концептуально, оконные функции можно описать как:
некоторый выход на N строк вперед и/или назад с текущей строки
сбор данных с этих строк
операции над собранными данными
запись в исходную строку
повтор на следующей строке
# Именно эта концепция и отражена в названии – с каждой строки создается некоторое окно, и по этому окну происходит подсчет

In [ ]:
При создании окна ему можно передать следующие параметры:
PARTITION BY [city]  # Работает аналогично блоку GROUP BY в запросе, только группирует данные для окна.
ORDER BY [date ASC]  #  Работает аналогично блоку ORDER BY на уровне запроса
ROWS [ BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW ]  # Задает параметры рамки окна.
– UNBOUNDED PRECEDING – указывает, что окно начинается с первой строки секции
– UNBOUNDED FOLLOWING – указывает, что окно заканчивается на последней строке

In [ ]:
# Пример кода с окном
SELECT
    sq.installationdate AS installationdate,
    sq.cost AS cost,
    SUM(sq.cost) OVER w AS total_cost  # выведет 1 дополнительную колонку со значением
FROM
    (
    SELECT
        installationdate,
        SUM(installcost) AS cost
    FROM installs
    WHERE installcost>0
    GROUP BY installationdate
    ) AS sq
WINDOW w AS ()  # название может быть любым

In [ ]:
# PARTITION BY - разделить колонку по определённому параметру
# Работает также, как GROPU BY, но для окна
SELECT
    sq.installationdate AS installationdate,
    sq.platform AS platform,
    sq.cost AS cost,
    SUM(sq.cost) OVER w AS total_cost
FROM
    (
    SELECT
        installationdate,
        platform,
        SUM(installcost) AS cost
    FROM installs
    WHERE installcost>0
    GROUP BY
        installationdate,
        platform
    ) AS sq
WINDOW w AS (
    PARTITION BY sq.platform
    )
ORDER BY
    installationdate ASC,
    platform ASC

In [ ]:
# ORDER BY
# Задав данный параметр преобразуем данные в накопительные
# Неявная рамка окна
SELECT
    sq.installationdate AS installationdate,
    sq.platform AS platform,
    sq.cost AS cost,
    SUM(sq.cost) OVER w AS total_cost
FROM
    (
    SELECT
        installationdate,
        platform,
        SUM(installcost) AS cost
    FROM installs
    WHERE installcost>0
    GROUP BY
        installationdate,
        platform
    ) AS sq
WINDOW w AS (
    PARTITION BY sq.platform
    ORDER BY CAST(sq.installationdate AS date) ASC  # Неявная рамка окна
    )
ORDER BY
    installationdate ASC,
    platform ASC

In [ ]:
# Явная рамка
# Относительные рамки
# Определение рамки через ROWS
ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW  # от начала партиции (PARTITION BY sq.platform) до текущей строки, на которой сейчас эта оконная функция выполняетсяю Сумма повышается!
ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING  # от начала партиции (PARTITION BY sq.platform) до конца партиции (PARTITION BY sq.platform). Накопительная сумма перестала работать! Только итоговое значение суммы!
ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING  # от текущей строки и до конца партиции (PARTITION BY sq.platform). Сумма снижается!

In [ ]:
# Явная рамка
SELECT
    sq.installationdate AS installationdate,
    sq.platform AS platform,
    sq.cost AS cost,
    SUM(sq.cost) OVER w AS total_cost
FROM
    (
    SELECT
        installationdate,
        platform,
        SUM(installcost) AS cost
    FROM installs
    WHERE installcost>0
    GROUP BY
        installationdate,
        platform
    ) AS sq
WINDOW w AS (
    PARTITION BY sq.platform
    ORDER BY CAST(sq.installationdate AS date) ASC
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW # явная рамка окна
    )
ORDER BY
    installationdate ASC,
    platform ASC

In [ ]:
# Явная рамка
# Абсолютные значения строк
ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING  # одна строчка вперёд и одна назад

In [ ]:
# Определение рамки через RANGE
# RANGE – Начало и конец рамки задаются в разнице значений столбца из ORDER BY
# При указании рамки через RANGE обязательным условием является только один столбец в ORDER BY окна
# Например, если в ORDER BY у вас столбец event_date с типом данных date, то определение окна можно задать следующим образом RANGE BETWEEN '3 day' PRECEDING AND '3 days' FOLLOWING что будет означать рамку на 3 дня назад и вперед.
RANGE BETWEEN '1 day' PRECEDING AND '2 days' FOLLOWING  # Значения из строчки + 2 дня вперёд

In [ ]:
SELECT
    sq.installationdate AS installationdate,
    sq.platform AS platform,
    sq.cost AS cost,
    SUM(sq.cost) OVER w AS total_cost
FROM
    (
    SELECT
        installationdate,
        platform,
        SUM(installcost) AS cost
    FROM installs
    WHERE installcost>0
    GROUP BY
        installationdate,
        platform
    ) AS sq
WINDOW w AS (
    PARTITION BY sq.platform
    ORDER BY CAST(sq.installationdate AS date) ASC
    RANGE BETWEEN '1 day' PRECEDING AND '2 days' FOLLOWING
    )
ORDER BY
    installationdate ASC,
    platform ASC

In [ ]:
# Любую аггрегатную функцию можно использовать через окно. Необходимо явно сказать, что она считается через окно!
# Этонеобходимо делать явно с указанием OVER и имени окна.
# Например AVG(revenue) OVER w AS avg_revenue Помимо обычных агрегатных функций, существуют специальные функции для работы через окно.

row_number() – номер текущей строки в разделе, начинается c 1  # когда считаем сессии / важно понимать шаги / важно понимать порядок
lag(my_field, 1) – получить значение столбца my_field из предыдущей строки
lead(my_field, 1) – получить значение столбца my_field из следующей строки

In [ ]:
# Несколько колонок через окна
SELECT
    sq.installationdate AS installationdate,
    sq.cost AS cost,
    SUM(sq.cost) OVER w AS sum_cost,
    AVG(sq.cost) OVER w AS avg_cost
FROM
    (
    SELECT
        installationdate,
        SUM(installcost) AS cost
    FROM installs
    WHERE installcost>0
    GROUP BY installationdate
    ) AS sq
WINDOW w AS ()
ORDER BY installationdate ASC

In [ ]:
# row_number()
SELECT
    sq.installationdate AS installationdate,
    sq.cost AS cost,
    SUM(sq.cost) OVER w AS sum_cost,
    AVG(sq.cost) OVER w AS avg_cost,
    row_number() OVER w AS row_number_test
FROM
    (
    SELECT
        installationdate,
        SUM(installcost) AS cost
    FROM installs
    WHERE installcost>0
    GROUP BY installationdate
    ) AS sq
WINDOW w AS ()
ORDER BY installationdate ASC

In [ ]:
# LAG / LEAD
SELECT
    sq.installationdate AS installationdate,
    sq.cost AS cost,
    SUM(sq.cost) OVER w AS sum_cost,
    AVG(sq.cost) OVER w AS avg_cost,
    row_number() OVER w AS row_number_test,
    LAG(sq.cost, 1) OVER w AS lag_1,
    LEAD(sq.cost, 1) OVER w AS lead_1
FROM
    (
    SELECT
        installationdate,
        SUM(installcost) AS cost
    FROM installs
    WHERE installcost>0
    GROUP BY installationdate
    ) AS sq
WINDOW w AS ()
ORDER BY installationdate ASC

In [ ]:
# Как вызвать окно без его объявления в блоке WINDOW
# Прямо в блоке SELECT указать ссылку на окно:
# 
SELECT
    sq.installationdate AS installationdate,
    sq.cost AS cost,
    SUM(sq.cost) OVER () AS sum_cost  # () - просто окно без каких-либо параметров / при необходимости параметры можно указать прямо в скобках

### Tasks

In [ ]:
# Задача 7
SELECT
    region,
    date,
    total_volume,
    SUM(total_volume) OVER w AS volume
FROM avocado
WHERE 
        region IN ('NewYork', 'LosAngeles')
    AND type = 'organic'
WINDOW w AS (
    PARTITION BY region
    ORDER BY CAST(date AS date) ASC
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    )
ORDER BY
    region DESC,
    CAST(date AS date) ASC

In [ ]:
# Задача 8
SELECT
    region,
    date,
    year,
    total_volume,
    SUM(total_volume) OVER w AS volume
FROM avocado
WHERE 
        region IN ('NewYork', 'LosAngeles')
    AND type = 'organic'
WINDOW w AS (
    PARTITION BY region, year
    ORDER BY CAST(date AS date) ASC
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    )
ORDER BY
    region DESC,
    date ASC

In [ ]:
# Задача 9
SELECT
    sq.date,
    sq.sum_total_volume_per_week,
    ABS(sq.sum_total_volume_per_week - LAG(sq.sum_total_volume_per_week, 1) OVER w) AS week_diff
FROM
    (
    SELECT
        date,
        SUM(total_volume) AS sum_total_volume_per_week
    FROM avocado
    WHERE 
            type = 'conventional'
        AND region = 'TotalUS'
    GROUP BY
        date
    ) AS sq
WINDOW w AS (
    ORDER BY CAST(sq.date AS date) ASC)

In [ ]:
# Задача 10
SELECT
    date,
    type,
    total_volume,
    (total_volume - LAG(total_volume, 1) OVER w) AS week_diff
FROM avocado
WHERE
        region = 'NewYork'
    AND year = '2018'
WINDOW w AS (
    PARTITION BY type
    ORDER BY CAST(date AS date) ASC
    )
ORDER BY
    type
# Для визуализации стоит использовать bar chart.

In [ ]:
# Задача 11
SELECT
    date,
    average_price,
    type,
    AVG(average_price) OVER w AS average_price_2_rows
FROM avocado
WHERE
    region = 'NewYork'
WINDOW w AS (
    PARTITION BY type
    ORDER BY CAST(date AS date) ASC
    ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
    )

# Модуль 6 - Теория вероятностей

## Урок 1 - СЛОЖЕНИЕ И ПРОИЗВЕДЕНИЕ ВЕРОЯТНОСТЕЙ

### Лекция

In [ ]:
# Понимание основ теории вероятностей необходимо любому аналитику, чтобы хорошо разбираться в статистике и A/B тестах.
# В первом уроке мы разберемся с основными понятиями и формулами расчёта вероятности.

In [ ]:
# Что такое вероятность?
# Чтобы не усложнять, остановимся на относительно простом понимании термина через такой формализм: 
p = n / m
p может быть в диапазоне от 0 до 1
n - количество интересных нам событий
m - общее число событий
# При этом m = n + x, где х - это события, которые нам не интересны

In [ ]:
# Типы задачек на вероятность
# Их на собеседованиях бывает два.

In [ ]:
# Задачи без подвоха
# Первый тип задач абсолютно честен с вами. Для решения понадобится всего лишь вспомнить нужные формулы и операции с числами. 
# Дальше вам остаётся только спокойно сесть, расписать всю формулу, подсчитать результат и дать правильный ответ. 
# Это довольно прагматичный тип задач, требующий только релевантных знаний.

In [ ]:
# Задачи с подвохом
# Второй тип задач часто выделяется тем, что в нём заранее не известны ни n, ни m. Такие задачки обычно дают, чтобы проверить нестандартность вашего мышления. 
# Правильного ответа либо нет, либо от вас не ожидают, что вы его знаете. 
# Здесь демонстрируется ваша логика рассуждений и способность "мыслить за пределами коробки".

In [ ]:
# Умножение вероятностей
# Также это можно выразить как "вероятность того, что случится событие 1 И событие 2".
# Чаще всего такое делают с независимыми событиями — когда одно событие не меняет вероятность другого события.

In [ ]:
# Сложение вероятностей
# Также у нас бывают зависимые события — когда возникновение одного события меняет вероятность другого.
# Крайний случай зависимых событий — взаимоисключающие события, и вероятности таких событий допустимо просто складывать.
# Это также называется полным набором событий и может быть выражено как "вероятность того что случится событие 1 ИЛИ событие 2".

In [ ]:
# Смотри конспект в тетради!

### Практика

In [ ]:
# Задание 1
# Два человека одновременно стреляют по мишени. Вероятность попадания по мишени у первого стрелка равна 0,5, у второго — 0,8. 
# Какова вероятность того, что в мишени будет только одна пробоина?

In [ ]:
# Смотри конспект в тетради!

## Урок 2 - ФОРМУЛА БЕРНУЛЛИ

### Лекция

In [ ]:
# Смотри конспект в тетради!

### Практика

In [ ]:
# Продолжим решать задачки по теории вероятностей. В этом степе попрактикуемся в решении задач по формуле Бернулли.

In [ ]:
# Чтобы подсчитать задачу через Python, вам может пригодиться следующее:

from scipy import special #модуль питона, предназначенный для научных и инженерных расчетов
special.comb(n, k) #биномиальный коэффициент

In [ ]:
# Альтернативный вариант

from math import factorial
def num_of_successes(n, k):
    return factorial(n)/(factorial(k) * factorial(n - k))

In [ ]:
# Решение задачи из лекции.
# 10 бросоков монет. Вероятность выпадения только 3х решек из 10 раз.

# Находим количество возможных комбинаций
n = 10
k = 3
from math import factorial
def num_of_successes(n, k):
    return factorial(n)/(factorial(k) * factorial(n - k))
print('количество возможных комбинаций = ', num_of_successes(n, k))

# Находим вероятность
# 10 раз вероятность выпасть решке = 0,5
# Необходимо применить умножение вероятностей, так как нам необходима определённая комбинация: 3 решки и 7 орлов
p_each_case = 0.5
cases = 10
# Произведение вероятностей необходимо умножить на количество возможных вариантов:
p_total = p_each_case ** cases * num_of_successes(n, k)
print('вероятность = ', round(p_total, 2)*100, '%')

In [ ]:
# Задание 1
# Устройство, состоящее из пяти независимо работающих элементов, включается за время Т. Вероятность отказа каждого из них за это время равна 0,4. 
# Найти вероятность того, что откажут три элемента. Ответ округлите до четырёх знаков после запятой. В качестве десятичного разделителя используйте точку.

# Определим количество возможных вариантов
n = 5
k = 3
from math import factorial
def num_of_successes(n, k):
    return factorial(n)/(factorial(k) * factorial(n - k))
print('количество возможных комбинаций = ', num_of_successes(n, k))

p_work = 0.6  # вероятность успешного запуска = 1 - вероятность отказа запуска
p_error = 0.4 # вероятность отказа запуска
p_total = p_error * p_error * p_error * p_work * p_work * num_of_successes(n, k)  # расписал возможный сценарий и умножил его на количество комбинаций
print('вероятность = ', round(p_total, 4))

In [ ]:
# Задание 2
# Устройство, состоящее из пяти независимо работающих элементов, включается за время Т. Вероятность отказа каждого из них за это время равна 0,4. 
# Найдите вероятность того, что хотя бы один элемент откажет. Ответ округлите до трёх знаков после запятой. 
# В качестве десятичного разделителя используйте точку.

# Вероятность того, что хотя бы один элемент откажет = 1 - вероятность того, что НИ ОДИН не откажет

# Вероятность того, что НИ ОДИН не откажет
p_work = 0.6  # вероятность успеха
p_work_total = p_work ** 5  # комбинация, когда все успшно запустились
p = 1 - p_work_total
round(p, 3)

In [ ]:
# Задание 3
# Производится 8 выстрелов по цели, в каждом из которых вероятность попадания равна 0,3.
# Найти вероятность того, что цель будет поражена хотя бы два раза. Ответ округлите до тысячных.

# NB! Попали хотя бы два раза - это попали два раза или больше.

# Здесь ситуация очень похожа на предыдущую, но нужно вычислить две вероятности и сложить их:
# - Вероятность, что по цели вообще не будет попаданий
# - Вероятность, что попадание будет только одно
# Сумма этих вероятностей противоположна вероятности события "попали хотя бы два раза".

# Находим -  Вероятность, что по цели вообще не будет попаданий
n = 8  # общее количество выстрелов
p_goal = 0.3  # попал
p_0 = 0.7     # не попал
p_total_0_goal = p_0 ** 8
# Находим -  Вероятность, что попадание будет только одно
k = 1  # необходимый исход для нас - только одно попадание
# Определим количество возможных вариантов
from math import factorial
def num_of_successes(n, k):
    return factorial(n)/(factorial(k) * factorial(n - k))
#print('количество возможных комбинаций = ', num_of_successes(n, k))
p_one_goal = p_goal * p_0 ** 7 * num_of_successes(n, k)

p_need = 1 - p_total_0_goal - p_one_goal
print('вероятность = ', round(p_need, 3))

In [ ]:
# Задание 4
# В магазине 7 покупателей. Каждый может совершить покупку с вероятностью 0,4. 
# Найти вероятность того, что не более двух человек совершат покупку. Ответ округлите до сотых.

# Не более двух значит 0,1,2 человека выполнят покупку. или / или / или
p_buy = 0.4  # купит
p_not_buy = 0.6  # не купит
n = 7  # 7 покупателей / возможных событий
from math import factorial
def num_of_successes_1(n, k):
    return factorial(n)/(factorial(k) * factorial(n - k))
# Вариант, когда никто не купит
p_buy_0 = p_not_buy ** n * 1  # 1, так как свего 1 такой вариант возможен
# Вариант, когда купит только 1
# Определим количество возможных вариантов
k_1 = 1  # 1 вариант нас интересует, когда только 1 купил
p_buy_1 = p_buy * p_not_buy ** (n-k_1) * num_of_successes_1(n, k_1)
# Вариант, когда купят только 2
# Определим количество возможных вариантов
k_2 = 2  # 21 варианта нас интересует, когда только 2 купили
p_buy_2 = p_buy ** 2 * p_not_buy ** (n-k_2) * num_of_successes_1(n, k_2)
# Искомое число
p_total = p_buy_0 + p_buy_1 + p_buy_2
round(p_total, 2)

In [ ]:
# Задание 5
# В телеателье имеется 7 телевизоров. 
# Для каждого телевизора вероятность того, что в данный момент он включен, равна 0,5. 
# Найти вероятность того, что в данный момент включены не менее трех телевизоров. Ответ округлите до тысячных.

# Не менее трёх значит 1 - (вероятность включения 0 + 1 + 2)
p_on = 0.5
p_off = 0.5
n = 7
from math import factorial
def num_of_successes(n, k):
    return factorial(n)/(factorial(k) * factorial(n - k))
# Включено 0 / Выключено 0 - одинаковая вероятность будет
p_0 = p_on ** 7 * 1
# Включено 1
k_1 = 1
p_on_1 = p_on * p_off ** (n-k_1) * num_of_successes(n, k_1)
# Включено 2
k_2 = 2
p_on_2 = p_on ** 2 * p_off ** (n-k_2) * num_of_successes(n, k_2)
# Вероятность, что включен 0 или 1 или 2
p_on_0_2 = p_0 + p_on_1 + p_on_2
# Определим искомое число
p_on_3_and_more = 1 - p_on_0_2
round(p_on_3_and_more, 3)

In [ ]:
# Задание 6
# Пусть вероятность того, что покупателю необходим компьютер с операционной системой Linux, равна 0.25. 
# Найдите вероятность того, что из 6 покупателей по крайней мере двум необходим компьютер с операционной системой Linux.
# Ответ округлите до сотых, в качестве разделителя используйте точку.

# по крайней мере двум - значит 2,3,4,5,6. Это значит противоположное значение для вероятности 0,1. 1 - (p0 + p1)
p_need = 0.25
p_not_need = 0.75
n = 6
from math import factorial
def num_of_successes(n, k):
    return factorial(n)/(factorial(k) * factorial(n - k))
# Нужен 0 покупятелям
p_0 = p_not_need ** n * 1
# Нужен 1 покупятелям
k_1 = 1
p_1 = p_need * p_not_need ** (n-k_1) * num_of_successes(n, k_1)
# Искомое число
p_need_2_and_more = 1 - (p_0 + p_1)
round(p_need_2_and_more, 2)

In [ ]:
# Задание 7
# Для нормальной работы отдела по дата-аналитике необходимо, чтобы в офисе было не менее восьми программистов, а всего в штате 10 программистов. 
# Вероятность того, что программист заболеет, равна 0.1. Найдите вероятность нормальной работы отдела по дата-аналитике.

# Отдел будет работать нормально в трёх случаях:
# - Не болеет никто
# - Болеет один программист
# - Болеют двое программистов
# Суммируете вероятности этих событий и получаете нужное число.
p_seek = 0.1
p_not_seek = 0.9
n = 10
from math import factorial
def num_of_successes(n, k):
    return factorial(n)/(factorial(k) * factorial(n - k))
# Не болеет никто
p_seek_0 = p_not_seek ** 10 * 1
# Болеет 1
k_1 = 1
p_seek_1 = p_seek * p_not_seek ** (n-k_1) * num_of_successes(n, k_1)
# Болеет 1
k_2 = 2
p_seek_2 = p_seek ** k_2 * p_not_seek ** (n-k_2) * num_of_successes(n, k_2)
# Сумма
p = p_seek_0 + p_seek_1 + p_seek_2
round(p, 2)

In [ ]:
# Задание 8
# Среди всех скриптов, которые пишет программист, с 10%-ой вероятностью скрипт будет с ошибкой. 
# Найдем вероятность того, что среди 30 скриптов два не будут работать.
p_error = 0.1
p_ok = 0.9
n = 30
k = 2
from math import factorial
def num_of_successes(n, k):
    return factorial(n)/(factorial(k) * factorial(n - k))
p = p_error**k * p_ok**(n-k) * num_of_successes(n, k)
round(p, 3)

In [ ]:
# Задание 9
# В очень большом чате по дата аналитике сидит 1730 человек. 
# Вероятность того, что день рождения наугад взятого участника чата приходится на определенный день года, равна 1/365 для каждого из 365 дней. 
# Найдем наиболее вероятное число счастливчиков, которые родились 1 марта.

# Для решения этой задачи вам может потребоваться формула для наиболее вероятного числа успехов "к"
# n*p - q <= k <= n*p + p
# n = количество событий / p = вероятность события / q = обратное число от р (q=1-p)

n = 1730
p = 1/365
q = 1 - p
x = n * p - q
y = n * p + p
print(x, y)
# Целое число в промежутке = 4

In [ ]:
# Задание 10
# В урне 20 шаров: 15 белых и 5 чёрных. 
# Вынули подряд 5 шаров, причём каждый вынутый шар возвращается в урну и перед извлечением следующего шары в урне тщательно перемешиваются. 
# Найдите вероятность того, что из пяти вынутых шаров будет 2 белых.
p_white = 15/20
p_black = 5/20
n = 5
k = 2
from math import factorial
def num_of_successes(n, k):
    return factorial(n)/(factorial(k) * factorial(n - k))
p_2_white_3_black = p_white * p_white * p_black * p_black * p_black * num_of_successes(n, k)
round(p_2_white_3_black, 3)

## Урок 3 - УСЛОВНАЯ ВЕРОЯТНОСТЬ

### Лекция

In [ ]:
# Смотри тетрадь!

### Практика

In [ ]:
# Задание 1
# Из 500 компьютеров  180 принадлежат к 1 партии, 170 – ко второй партии, остальные к третьей. В первой партии 3% брака, во второй — 2%, в третьей – 6%. 
# Случайно выбирается один компьютер. Определить вероятность того, что выбранный компьютер – бракованный.
p_1_brak = 180/500 # вероятность детали из партии
p_2_brak = 170/500
p_3_brak = 150/500
p_1_koef = 0.03 # процент брака
p_2_koef = 0.02
p_3_koef = 0.06
p_a = p_1_brak * p_1_koef + p_2_brak * p_2_koef + p_3_brak * p_3_koef  # общая вероятность получить бракованную деталь
round(p_a, 4)

In [ ]:
# Задание 2
# Есть компания с программистами. В ней на языке Java пишут в 3 раза больше человек, чем на языке C++. 
# Программистов на языке C++ в 4 раза больше, чем на Python. 
# Вероятность сделать работу за один день для Java-программиста — 0,85, для программиста на языке C++ 0,9, а для Python программиста 0,8. 
# Найти вероятность того, что программист, выбранный наугад, сделает работу за один день.

# В тетради через уровнение вывел искомое число
p_c = 4/17
p_j = 3 * p_c
p_p = p_c / 4
p_c_koef = 0.9
p_j_koef = 0.85
p_p_koef = 0.8
p = p_c * p_c_koef + p_j * p_j_koef + p_p * p_p_koef  # общая вероятность сделать работу за 1 день
round(p, 2)

In [ ]:
# Задание 3
# Из 40 снайперов 18 попадает в цель с вероятностью 0,9, 8 — с вероятностью 0,4 и 14 – с вероятностью 0,7. 
# Случайно выбранный снайпер произвел выстрел, поразив цель.
# Мы хотим вычислить, снайпер из какой группы наиболее вероятно совершил этот выстрел.
# Теперь вам нужно вычислить P(Y|X) для каждой из трёх групп снайперов и выбрать ту, которая больше всего.
p_1 = 18 / 40 # вероятность группы
p_2 = 8 / 40
p_3 = 14 / 40
p_1_k = 0.9 # эффективность группы
p_2_k = 0.4
p_3_k = 0.7
p_a = p_1 * p_1_k + p_2 * p_2_k + p_3 * p_3_k  # общая вероятность попасть рандомного снайпера
p_1_a = p_1 * p_1_k / p_a  # вероятность попадания для каждой группы
p_2_a = p_2 * p_2_k / p_a
p_3_a = p_3 * p_3_k / p_a
round(max(p_1_a, p_2_a, p_3_a), 3)

In [ ]:
# Задание 4
# Есть 4 кубика. На трех из них окрашена белым половина граней, а на четвертом кубике всего одна грань из шести белая. 
# Наудачу выбранный кубик подбрасывается семь раз. 
# Найти вероятность того, что был выбран четвертый кубик, если при семи подбрасываниях белая грань выпала ровно один раз.
# Вероятность выкинуть 1 белую грань из 7 бросков считаем по ней для каждого из двух типов кубиков, а дальше пользуемся формулой Байеса, как в прошлой задаче.

# Вероятность выкинуть 1 белую грань из 7 бросков для кубиков 1-3
k_1_3 = 1
n_1_3 = 7
from math import factorial
def num_of_successes(n, k):
    return factorial(n)/(factorial(k) * factorial(n - k))
p_1_3 = (3/6) ** 7 * num_of_successes(n_1_3, k_1_3)
#p_1_3
# Вероятность выкинуть 1 белую грань из 7 бросков для кубика 4
k_4 = 1
n_4 = 7
p_4 = (5/6) ** 6 * (1/6) * num_of_successes(n_4, k_4)
#p_4
# Вероятности выпадения самих кубиков
p_1_3_possible = 3 / 4
p_4_possible = 1 / 4
# общая вероятность выпадения 1 белой грани из 7 бросков:
p_a = p_1_3_possible * p_1_3 + p_4_possible * p_4
#p_a
# Определяем нашу необходимую вероятность. Что выпала одна белая грань из 7 бросков при том, что это был кубик 4
p = p_4_possible * p_4 / p_a
round(p, 3)
#print(p_1_3, p_4, p_1_3_possible, p_4_possible, p_a, p, round(p, 3), sep = '\n')

In [ ]:
# Задание 5
# На гитхабе лежит 12 скриптов, написанных аналитиком №1, 20 скриптов — написанных аналитиком №2 и 18 скриптов — написанных аналитиком №3. 
# Вероятность того, что скрипт, написанный аналитиком №1, работает  без ошибок, равна 0,9; для скриптов, написанных аналитиками  №2 и №3, эти вероятности соответственно равны 0,6 и 0,9.
# Нужно найти вероятность того, что случайно взятый скрипт будет работать без ошибок.
p_1 = 12 / 50
p_2 = 20 / 50
p_3 = 18 / 50
p_1_k = 0.9
p_2_k = 0.6
p_3_k = 0.9
p_a = p_1 * p_1_k + p_2 * p_2_k + p_3 * p_3_k
round(p_a, 2)

In [ ]:
# Задание 6
# Известно, что около 60% всех людей в городе болеют заболеванием А. 
# Для определения того, заболел человек или нет, проводится тест, точность которого составляет 99%. 
# Вы получили положительный тест, какова вероятность того, что вы реально больны?
seek_total = 0.6  # P(Y) доля больных в городе
p_test = 0.99     # P(X|Y)  доля верных диагнозов
not_seek_total = 1 - seek_total  # доля здоровых в городе
pogreshnost = 1 - p_test  # доля неверных диагнозов
# P(X) - Вероятность того, что тест положительный
p_x = seek_total * p_test + not_seek_total * pogreshnost  # Вероятность больного положительного + вероятность здорового положительного
# Необходимая вероятность
p = seek_total * p_test / p_x  # формула Байеса
round(p, 3)

In [ ]:
# Задание 7
# Три фабрики производят лампочки. 
# Фабрика А производит 20% всех лампочек, 50% лампочек производится на фабрике В и оставшиеся 30% на фабрике С. 
# 2% лампочек, произведенных на фабрике А, 1% лампочек, произведенных на фабрике В, и 3% лампочек, произведенных на фабрике С, являются бракованными.
# На рынке наугад выбирается лампочка и оказывается бракованной. 
# Какова вероятность того, что эта лампочка была произведена на заводе B?
p_a, p_a_k = 0.2, 0.02
p_b, p_b_k = 0.5, 0.01
p_c, p_c_k = 0.3, 0.03
p_a = p_a * p_a_k + p_b * p_b_k + p_c * p_c_k  # Вероятность того, что лампочта из ЛЮБОГО завда будет бракованной
p = p_b * p_b_k / p_a
round(p, 3)

In [ ]:
# Задание 8
# Система РЛС (радиолокационная система) может обнаружить присутствие самолета в 98% случаев. 
# Однако если в зоне действия радара нет самолета, система все равно сообщает (ложно), что самолет присутствует, в 5% случаев. 
# В любой момент времени вероятность того, что самолет находится в зоне действия радара, составляет 7%.
# Какова вероятность того, что самолет находится в зоне действия радара, учитывая, что на радаре нет самолета?

# $P(Y|X)$ - вероятность, что самолёт есть, если радар его не видит (**то, что мы ищем в задаче**)
# $P(X|Y)$ - вероятность, что радар ничего не увидит, если самолёт прилетит (**в условии указана обратная вероятность - что радар увидит реально летящий самолёт**)
# $P(Y)$ - вероятность, что самолёт в принципе может залететь в область радара (**также указана в условии**)
# $P(X)$ - вероятность того, что самолёт не будет видно на радаре в принципе (**считаем по аналогии с прошлыми задачами, учитываем указанную в условии вероятность ложноположительного срабатывания, 
#           но про ложноотрицательное тоже не забывайте**)

p_x_y = 1 - 0.98
p_y = 0.07
# Определим вероятность того, что самолёта не будет видно. В случае если он залател / не залетел
p_x = 0.07*0.02 + 0.93*0.95
# 0.07 - В любой момент времени вероятность того, что самолет находится в зоне действия радара, составляет 7%.
# 0.02 - 1 минус 0.98 (может обнаружить присутствие самолета в 98% случаев)
# 0.93 - 1 минус 0.07 (В любой момент времени вероятность того, что самолет находится в зоне действия радара, составляет 7%.)
# 0.95 - 1 минус 0.05 (Однако если в зоне действия радара нет самолета, система все равно сообщает (ложно), что самолет присутствует, в 5% случаев)
p = p_x_y * p_y / p_x  # наша необходимая вероятность
round(p, 4)

In [ ]:
# Задание 9
# Какова вероятность того, что самолет находится в зоне действия радара, учитывая, что радар показывает наличие самолета?
p_y = 0.07 # вероятность, что самолёт в принципе может залететь в область радара
p_x_y = 0.98  # вероятность, что радар увидит, если самолёт прилетит
# Определим вероятность того, что самолёт будет видно. В случае если он залател / не залетел
p_x = 0.07*0.98 + 0.93*0.05
# 0.07 - В любой момент времени вероятность того, что самолет находится в зоне действия радара, составляет 7%
# 0.98 - может обнаружить присутствие самолета в 98% случаев
# 0.93 - 1 минус 0.07 (В любой момент времени вероятность того, что самолет находится в зоне действия радара, составляет 7%.)
# 0.05 - Однако если в зоне действия радара нет самолета, система все равно сообщает (ложно), что самолет присутствует, в 5% случаев
p = p_x_y * p_y / p_x  # наша необходимая вероятность
round(p, 3)

In [ ]:
# Задание 10
# Передатчик аварийного локатора самолета (ELT) - это устройство, предназначенное для передачи сигнала в случае аварии. 
# Компания A производит 80% всех ELT на рынке, компания B - 15%, а компания C - остальные 5%. 
# Уровень дефектности ELT, произведенных компанией A, составляет 4%, компанией B - 6%, а компанией C - 9%. 
# Случайно выбранный ELT был протестирован и оказался бракованным. 
# Найдите вероятность того, что он был произведен компанией A.
p_a, p_a_k = 0.8, 0.04
p_b, p_b_k = 0.15, 0.06
p_c, p_c_k = 0.05, 0.09
p_a_total = p_a * p_a_k + p_b * p_b_k + p_c * p_c_k  # Вероятность того, что любая деталь будет бракованной
p = p_a * p_a_k / p_a_total
round(p, 3)